/* =============================
   Global styles
   ============================= */

:root {
	/* Colors  */
	--grayishBlue: hsl(240, 18%, 77%);
	--darkBlue: hsl(240, 38%, 20%);

	/* Typography */
	font-family: "Inter", sans-serif;
	font-size: clamp(0.75rem, 1rem + 0.5vw, 2rem);
	font-weight: 300;
}

body {
	/* TODO add background images */
	display: grid;
	box-sizing: content-box;
	grid-template-columns: minmax(7.5%, 1fr) minmax(320px, 1500px) minmax(7.5%, 1fr);
	color: var(--darkBlue);
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.6;
	text-align: center;
}

/* =============================
   Carousel
   ============================= */

.carousel-container {
	position: relative;
	grid-column: 2;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.carousel-slide {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: inherit;
	transition: left 0.2s ease-in-out;
}

.carousel-slide:nth-of-type(1) {
	left: 0;
}

.carousel-slide:nth-of-type(2) {
	left: 100%;
}

/* Buttons
   ============================= */

.button-container {
	display: flex;
	margin-top: -1.5em;
	border-radius: 100%;
	box-shadow: 0 0 20px 0 rgba(115, 115, 115, 0.5);
}

button {
	/* FIXME sizing needs attention */
	box-sizing: content-box;
	padding: 1.25em 1.5em;
	border: none;
	background-color: #fff;
}

.previous {
	border-radius: 100% 0 0 100%;
}

.next {
	border-radius: 0 100% 100% 0;
}

.icon {
	/* FIXME This is not working */
	fill: var(--darkBlue);
}

/* =============================
Mobile styles
============================= */

.student-portrait {
	width: 70%;

	/* FIXME box-shadow running onto next slide */
	box-shadow: 0 0 20px 0 rgba(135, 135, 172, 0.5);
}

footer {
	margin-top: 2em;
	font-size: clamp(0.5rem, 0.9rem + 0.25vw, 2.5rem);
}

blockquote {
	margin-top: 3em;
}

.name,
.position {
	display: block;
	font-weight: 700;
}

.position {
	color: var(--grayishBlue);
	font-weight: 300;
}

/* ============================
   Media queries - Tablet and Desktop
   ============================= */

@media screen and (min-width: 1000px) {
	body {
		grid-template-columns: minmax(10%, 1fr) minmax(320px, 1500px) minmax(10%, 1fr);
		text-align: left;
	}

	.carousel-slide {
		flex-direction: row-reverse;
		align-items: center;
	}

	.student-portrait {
		width: 50%;
		box-shadow: 0 0 20px 0 rgba(135, 135, 172, 0.5);
	}

	blockquote {
		margin-right: -5em;
	}

	.button-container {
		/* FIXME positioning needs work */
		position: absolute;
		top: 73%;
		left: 65%;
	}

	.name,
	.position {
		display: inline-block;
	}
}
