:root {
	/* Neutral */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(225, 14%, 53%);
	--clr-neutral-300: hsl(232, 56%, 8%);

	/* Primary */
	--clr-primary-100: hsl(206, 84%, 22%);
	--clr-primary-200: hsl(179, 80%, 58%);
	--clr-primary-300: hsl(343, 100%, 58%);

	/* Utopia */
	--step-0: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
	--step-1: clamp(1.125rem, 1.026rem + 0.4225vw, 1.4063rem);
	--step-2: clamp(1.35rem, 1.2063rem + 0.6131vw, 1.7581rem);
	--step-3: clamp(1.62rem, 1.4167rem + 0.8676vw, 2.1975rem);
	--step-4: clamp(1.9438rem, 1.661rem + 1.2066vw, 2.7469rem);
	--step-5: clamp(2.3325rem, 1.945rem + 1.6535vw, 3.4331rem);
	--step-6: clamp(2.7994rem, 2.2741rem + 2.2413vw, 4.2913rem);

	/* font-family */
	--ff-body: "Manrope", sans-serif;

	/* Spacing */
	--spacer: var(--step-2);
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--step-0);
	line-height: 1.8;
	text-align: center;
	background-color: var(--clr-neutral-300);
	color: var(--clr-neutral-200);
}

:focus-visible {
	outline: 3px dotted var(--clr-neutral-100);
	outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

/* 	Typography
   	================================================== */

h1,
h2,
h3 {
	color: var(--fg, var(--clr-neutral-100));
}

h1 {
	font-size: var(--step-4);
}

h1 span {
	color: var(--clr-primary-200);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

.accent {
	font-size: var(--step-3);
	font-weight: 800;
}

/* ==================================================
   Utilities
   ================================================== */

.center-content {
	display: grid;
	grid-template-rows: repeat(3, min-content);
	grid-template-columns: minmax(0, 1fr) minmax(0, 1440px) minmax(0, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 6);
}

.flow-content > * + * {
	margin-top: calc(var(--spacer) * 1.25);
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--spacer) * 2);
}

.container {
	padding-right: clamp(2rem, 2.5%, 3rem);
	padding-left: clamp(2rem, 2.5%, 3rem);
}

@media only screen and (min-width: 40em) {
	.container {
		padding-right: clamp(5rem, 5%, 10rem);
		padding-left: clamp(5rem, 5%, 10rem);
	}
}

/* ==================================================
   Blocks
   ================================================== */

/* 	Header
   	================================================== */

nav {
	margin-top: 3rem;
}

nav .logo {
	margin: 0 auto;
}

.hero {
	margin-top: 3rem;
	padding-top: 18rem;
	background-image: url("../assets/illustration-hero-mobile.png");
	background-size: 110%;
	background-repeat: no-repeat;
}

.hero img {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 45em) {
	nav .logo {
		margin-left: 0;
	}

	.hero {
		padding-top: 0;
		padding-bottom: 0;
	}

	.hero .wrapper {
		background-color: var(--clr-neutral-300);
		background-image: url("../assets/bg-hero-squiggle.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 auto;
		padding-top: 4rem;
		padding-bottom: 3rem;
		max-width: 75%;
	}
}

/* 	Features
   	================================================== */

.features.flex {
	gap: calc(var(--spacer) * 4);
}

/* Cards
   ------------------- */

.card img {
	background-color: var(--clr-primary-100);
	padding: 2rem;
	border-radius: 3rem;
	width: 10rem;
	height: auto;
}

/* 	Plans
   	================================================== */

.plans {
	margin-top: 5rem;
	gap: calc(var(--spacer) * 5);
}

.plan {
	position: relative;
	text-align: left;
	padding: 3.5rem 2rem 2rem;
	border-radius: 1rem;
}

.plan li {
	margin-top: 0.75rem;
	color: var(--fg, var(--clr-neutral-100));
}

.plan.dip {
	background-color: var(--clr-primary-100);
}

.plan.dip::before {
	content: url("../assets/icon-free.svg");
	position: absolute;
	top: -1.5rem;
	left: 2rem;
}

.plan.dive {
	--fg: var(--clr-neutral-300);

	color: var(--clr-neutral-300);
	background-color: var(--clr-primary-200);
}

.plan.dive::before {
	content: url("../assets/icon-paid.svg");
	position: absolute;
	top: -2rem;
	left: 2rem;
}

/* 	Footer
   	================================================== */

footer {
	margin-bottom: 6rem;
	background-image: url("../assets/bg-footer-squiggle.svg");
	background-size: 100% 4rem;
	background-repeat: no-repeat;
}

.form {
	margin-top: 2rem;
	gap: calc(var(--spacer) * 1);
}

input,
button {
	display: block;
	width: 100%;
	border-radius: 2rem;
	padding: 0.5em 2em;
	border: none;
	font-weight: 800;
}

input {
	background-color: var(--clr-primary-100);
}

button {
	background-color: var(--clr-primary-200);
}
