/* ==================================================
	 Andy Bell Modern CSS Reset
	 ================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Adjust line heights */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  padding-left: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/* ==================================================
	 Global Styles
	 ================================================== */
:root {
  /* Colors */
  --clr-accent-100: hsla(176, 68%, 64%, 1);
  --clr-accent-200: hsla(198, 60%, 50%, 1);
  --clr-accent-300: hsla(0, 100%, 63%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(219, 30%, 18%, 1);
  --clr-neutral-300: hsla(217, 28%, 15%, 1);
  --clr-neutral-400: hsla(218, 28%, 13%, 1);
  --clr-neutral-500: hsla(216, 53%, 9%, 1);
  /* Spacing */
  --spacer: 1rem;
  /* Font sizes */
  --step--2: clamp(0.61rem, 0.55rem + 0.28vw, 0.8rem);
  --step--1: clamp(0.73rem, 0.65rem + 0.39vw, 1rem);
  --step-0: clamp(0.88rem, 0.77rem + 0.54vw, 1.25rem);
  --step-1: clamp(1.05rem, 0.9rem + 0.73vw, 1.56rem);
  --step-2: clamp(1.26rem, 1.06rem + 0.99vw, 1.95rem);
  --step-3: clamp(1.51rem, 1.25rem + 1.33vw, 2.44rem);
  --step-4: clamp(1.81rem, 1.46rem + 1.77vw, 3.05rem);
  --step-5: clamp(2.18rem, 1.71rem + 2.34vw, 3.82rem);
  /* Font-families */
  --ff-body: "Open sans", sans-serif;
  --ff-headings: "Raleway", sans-serif;
}

body {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
  font-family: var(--ff-body);
  font-size: var(--step-0);
  text-align: center;
  line-height: 1.5;
}

h3,
h1 + p {
  font-size: var(--step-1);
  max-width: 50ch;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  font-size: var(--step-4);
  margin-left: auto;
  margin-right: auto;
  max-width: 40ch;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

img:not([class]) {
  margin: 0 auto 4rem;
  width: 100%;
  max-width: 55rem;
}

/* ==================================================
	 Utilities
	 ================================================== */
/* Skip to main content */
.skip-link {
  position: absolute;
  display: inline-block;
  top: 1rem;
  left: 1rem;
  z-index: 100000;
  padding: 0.7rem 1rem 0.5rem 1rem;
  outline: 3px dotted white;
  background-color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.skip-link:hover {
  background: black;
  color: white;
}

.skip-link:not(:focus) {
  position: absolute;
  width: 1px;
  height: auto;
  padding: 0;
  border: 0;
  overflow: hidden;
  margin: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

/* Remove necessary focus style as main is the :target */
main:focus {
  outline: none;
}

/* Center main content on page */
.center-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
}
.center-content > * {
  grid-column: 2;
}

/* Add left and right padding to element */
.container {
  padding-right: clamp(1rem, 2.5%, 3rem);
  padding-left: clamp(1rem, 2.5%, 3rem);
}

/* Add vertical rhythm between sections */
.flow-section > * + * {
  margin-top: calc(var(--spacer) * 6);
}
@media (min-width: 45rem) {
  .flow-section > * + * {
    margin-top: 10rem;
  }
}

/* Add vertical rhythm inside elements */
.flow-content > * + * {
  margin-top: calc(var(--spacer) * 1);
}

/* Text accessible only for screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.visually-hidden:hover,
.visually-hidden:active,
.visually-hidden:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  /* Above WP toolbar */
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  background-color: #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: currentColor;
  clip: auto !important;
}

/* Add styled focus states on tab not hover */
:focus-visible {
  outline: 3px dotted currentColor;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline: transparent;
}

/* Align flex children at small and large viewports */
.split {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
@media (min-width: 45rem) {
  .split {
    flex-direction: row;
  }
}

/* ==================================================
   Blocks
   ================================================== */
header nav.split {
  flex-direction: row;
  padding-top: clamp(2rem, 5%, 4rem);
  justify-content: space-between;
}
header nav.split ul.split {
  flex-basis: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
@media (min-width: 45rem) {
  header nav.split ul.split {
    gap: 3rem;
  }
}
header nav.split li {
  max-width: max-content;
}

.logo {
  max-width: 5rem;
}
@media (min-width: 45rem) {
  .logo {
    max-width: 10rem;
  }
}

.cta {
  display: block;
  max-width: fit-content;
  padding: 0.75em 4em;
  border: none;
  border-radius: 2em;
  margin: 2rem auto 0;
  background-color: var(--clr-accent-200);
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.cta:hover {
  background-color: var(--clr-accent-100);
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 45rem) {
  .features {
    grid-template-columns: repeat(2, minmax(0, 45ch));
  }
}

.feature img {
  margin: 0 auto 2rem;
}

.productive {
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: 5rem;
}

.productive img {
  margin-bottom: 0;
}

.productive h2 {
  margin-left: 0;
  font-size: var(--step-0);
  text-align: left;
}
@media (min-width: 45rem) {
  .productive h2 {
    font-size: var(--step-4);
  }
}

.productive a {
  display: block;
  text-decoration: underline;
  color: var(--clr-accent-100);
}
.productive a:hover {
  color: var(--clr-neutral-100);
}

.testimonials {
  gap: 2rem;
}

figure {
  text-align: left;
  background-color: var(--clr-neutral-200);
  padding: 2rem;
  border-radius: 0.5em;
}

figcaption.split {
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
figcaption.split .name {
  font-style: normal;
  display: block;
  font-weight: bolder;
}
figcaption.split .position {
  font-size: var(--step--2);
  font-style: normal;
}
figcaption.split > * {
  flex-basis: auto;
  font-size: var(--step--1);
}

.profile-pic {
  border-radius: 50%;
  max-width: 3rem;
}

.sign-up {
  max-width: 60rem;
  padding: clamp(2rem, 5%, 3rem);
  border-radius: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--clr-neutral-300);
}

form.split {
  margin-top: 2.5rem;
  gap: 0.25rem;
}
@media (min-width: 45rem) {
  form.split {
    align-items: flex-start;
    gap: 2rem;
  }
}
form.split div.wrapper {
  flex: 1;
}
form.split input {
  width: 100%;
  display: block;
  padding: 0.75em 2em;
  padding-left: 2rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--clr-neutral-100);
  font-weight: bold;
  color: var(--clr-neutral-200);
  flex-grow: 1;
}
form.split input::placeholder {
  color: var(--clr-neutral-400);
}
form.split .cta {
  max-width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  margin: 0;
}
@media (min-width: 45rem) {
  form.split .cta {
    max-width: fit-content;
  }
}
form.split .error {
  display: block;
  visibility: hidden;
  padding-left: 2rem;
  font-size: var(--step--1);
  text-align: left;
  color: var(--clr-accent-300);
}

footer {
  margin-bottom: 6rem;
  text-align: left;
}
footer div.split {
  gap: 4rem;
  justify-content: space-between;
}
footer div.split address {
  flex-basis: 50%;
}
footer address.split {
  gap: 2rem;
  justify-content: space-between;
}
footer address.split a {
  display: block;
}
footer nav.split {
  gap: 2rem;
}
footer .social-icons {
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
