:root {
	/* Primary */
	--clr-primary-100: hsl(174, 77%, 80%);
	--clr-primary-200: hsl(174, 86%, 45%);
	--clr-primary-300: hsl(14, 92%, 95%);
	--clr-primary-400: hsl(15, 100%, 70%);
	--clr-primary-500: hsl(226, 100%, 87%);

	/* Neutral */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(230, 100%, 99%);
	--clr-neutral-300: hsl(224, 65%, 95%);
	--clr-neutral-400: hsl(223, 50%, 87%);
	--clr-neutral-500: hsl(225, 20%, 60%);
	--clr-neutral-600: hsl(227, 35%, 25%);

	/* Spacing */
	--spacer: 2rem;

	/* Font size */
	--fs-300: 0.9rem;
	--fs-400: 1rem;
	--fs-500: 2rem;
	--fs-600: 2.5rem;

	/* font-family */
	--ff-body: "Manrope", sans-serif;

	/* Toggle switch */
	--toggle-thumb-size: 1.3rem;
	--toggle-thumb-space: 0.15rem;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	background-image: url("images/bg-pattern.svg");
	background-repeat: no-repeat;
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	text-align: center;
	color: var(--clr-neutral-500);
}

@media only screen and (min-width: 30em) {
	.component {
		text-align: left;
	}
}

:focus-visible {
	outline: 3px dotted var(--clr-neutral-600);
	outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

/* 	Typography
   	================================================== */

h1 {
	margin-bottom: 1rem;
	font-size: var(--fs-500);
	color: var(--clr-neutral-600);
}

.pageviews {
	font-weight: 800;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.price {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: var(--fs-600);
	font-weight: 800;
	line-height: 1;
	color: var(--clr-neutral-600);
	gap: 0.25em;
}

@media only screen and (min-width: 30em) {
	.price {
		justify-content: flex-end;
	}
}

.month {
	font-size: var(--fs-400);
	color: var(--clr-neutral-500);
}

/*  ==================================================
    Composition
    ================================================== */

.plans {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: dense;
	gap: calc(var(--spacer) / 2) var(--spacer);
}

@media only screen and (min-width: 30em) {
	.range {
		grid-column: span 2;
	}
}

/*  ==================================================
   	Utilities
	================================================== */

/*  Spacing
    ------------------- */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 40rem) minmax(1rem, 1fr);
}

.center-content > * {
	grid-column: 2;
	padding-top: 5%;
	margin-top: 15%;
	margin-bottom: 30%;
	background-image: url("images/pattern-circles.svg");
	background-position: 50% 0%;
	background-repeat: no-repeat;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 3);
}

.flow-content > * + * {
	margin-top: var(--spacer);
}

.container {
	padding-right: clamp(2rem, 5%, 4rem);
	padding-left: clamp(2rem, 5%, 4rem);
}

/* ==================================================
   Blocks
   ================================================== */

/* 	Component
   	================================================== */

.component {
	padding-top: clamp(3rem, 5%, 5rem);
	padding-bottom: clamp(3rem, 5%, 5rem);
	border-radius: 0.5em;
	box-shadow: 0 1rem 3rem hsla(227, 35%, 25%, 0.25);
	background-color: var(--clr-neutral-100);
}

/* 	Range
   	================================================== */

input[type="range"] {
	height: 0.25rem;
	border-radius: 1rem;
	margin: 2rem 0;
	-webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	background-color: var(--clr-primary-200);

	/* FIXME */
	background-image: url("images/icon-slider.svg");
	cursor: pointer;
	appearance: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
	box-shadow: 0 1rem 1rem hsla(174, 86%, 45%, 0.2);
	cursor: grab;
}

input[type="range"]::-webkit-slider-thumb:active {
	cursor: grabbing;
}

/* 	Toggle
   	================================================== */

.switch-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

@media only screen and (min-width: 30em) {
	.switch-container {
		gap: 1rem;
	}
}

.toggle {
	display: block;
	font-size: var(--fs-300);
	cursor: pointer;
	gap: 1em;
}

.toggle[for="monthly"] {
	order: 1;
}

.toggle[for="annually"] {
	order: 3;
}

.toggle-element {
	position: absolute;
	top: 35%;
	opacity: 0;
	z-index: 1;
	width: 2em;
	height: 2em;
	transform: translateY(-50%);
	cursor: pointer;
}

#annually.toggle-element {
	right: 40%;
	margin: 0;
}

#monthly.toggle-element {
	right: 50%;
	margin: 0;
}

.toggle-styles {
	position: relative;
	display: block;
	order: 2;
	width: calc((var(--toggle-thumb-size) * 2) + (var(--toggle-thumb-space) * 2));
	height: calc(var(--toggle-thumb-size) + (var(--toggle-thumb-space) * 2));
	border-radius: var(--toggle-thumb-size);
	overflow: hidden;
	background-color: var(--clr-neutral-500);
	transition: background-color 200ms cubic-bezier(1, 0, 0.55, 0.85);
	cursor: pointer;
}

.toggle-styles:hover,
#monthly:hover ~ .toggle-styles,
#annually:hover ~ .toggle-styles {
	background-color: var(--clr-primary-200);
}

#annually:focus-visible ~ .toggle-styles,
#monthly:focus-visible ~ .toggle-styles {
	outline: 3px dotted var(--clr-neutral-600);
}

.toggle-thumb {
	position: absolute;
	display: grid;

	top: calc(var(--toggle-thumb-space));
	left: var(--toggle-thumb-space);
	width: var(--toggle-thumb-size);
	height: var(--toggle-thumb-size);
	border-radius: var(--toggle-thumb-size);
	box-shadow: 0 0 var(--toggle-thumb-space) var(--clr-neutral-800);
	background-color: var(--clr-neutral-100);
	transform: none;
	transition: transform 200ms cubic-bezier(1, 0, 0.55, 0.85);
	place-items: center;
}

#annually:checked + .toggle-styles .toggle-thumb {
	transform: translateX(var(--toggle-thumb-size)) rotate(270deg);
}

/* Discount pill
   ------------------- */

label[for="annually"]::after {
	content: "-25%";
	position: absolute;
	padding: 0.15em 0.5em;
	border-radius: 1em;
	margin-left: 0.5rem;
	background-color: hsla(15, 100%, 70%, 0.2);
	font-size: 0.75rem;
	color: var(--clr-primary-400);
}

@media only screen and (min-width: 35em) {
	label[for="annually"]::after {
		content: "25% discount";
	}
}

/* 	Footer
   	================================================== */

.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid var(--clr-neutral-500);
	margin-top: 3rem;
	gap: var(--spacer);
}

@media only screen and (min-width: 30em) {
	.footer {
		flex-direction: row;
	}
}

/* CTA
   ------------------- */

.cta {
	display: block;
	padding: 0.75em 2em;
	border: none;
	border-radius: 2em;
	background-color: var(--clr-neutral-600);
	font-size: var(--fs-300);
	color: hsla(0, 0%, 100%, 0.85);
	cursor: pointer;
}

.cta:hover {
	color: var(--clr-neutral-100);
}

/* List
   ------------------- */

li {
	padding-left: 1ch;
}

ul li::marker {
	content: url(images/icon-check.svg);
	font-size: 2rem;
}
