@import "reset";

/* ==================================================
	 Global Styles
	 ================================================== */

@import "abstracts/config";
@import "abstracts/mixins";

body {
	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
	background-color: var(--clr-neutral-500);
	background-image: url("../images/mobile/image-host.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	font-family: var(--ff-body);
	font-size: var(--step--1);
	font-weight: 400;
	line-height: 1.8;
	text-align: center;
	color: var(--clr-neutral-100);

	@include viewport(medium) {
		background-image: url("../images/tablet/image-host.jpg"), url("../images/desktop/bg-pattern-dots.svg");
		background-position: right top, 5% 100%;
		background-repeat: no-repeat;
		text-align: left;
	}

	@include viewport(large) {
		padding-top: 5rem;
		padding-bottom: 3rem;
		background-image: url("../images/desktop/image-host.jpg"), url("../images/desktop/bg-pattern-dots.svg");
		background-position: right 10rem, right 60%;
		background-repeat: no-repeat;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: hsla(225, 26%, 23%, 0.9);

		@include viewport(medium) {
			background-color: transparent;
		}
	}

	& > * {
		grid-column: 2;
	}
}

main {
	display: flex;
	flex-direction: column;
	padding-top: 3em;
	margin-top: 0;
	gap: calc(var(--spacer) * 3);

	@include viewport(medium) {
		flex-direction: column-reverse;
		gap: 4rem;
	}
}

@include viewport(medium) {
	header,
	main {
		max-width: 70ch;
		padding-bottom: 2rem;
		background-color: var(--clr-neutral-500);
	}
}

h1 {
	max-width: 25ch;
	margin-right: auto;
	margin-left: auto;
	font-size: var(--step-1);
	line-height: 1.5;
	text-transform: uppercase;
	color: var(--clr-primary-100);

	@include viewport(medium) {
		padding-top: 5rem;
		margin-left: 0;
	}

	span {
		color: var(--clr-neutral-100);
	}
}

p {
	max-width: 45ch;
	margin-right: auto;
	margin-left: auto;

	@include viewport(medium) {
		margin-left: 0;
	}
}

/* ==================================================
	 Utilities
	 ================================================== */

@import "utilities/flow-section";
@import "utilities/flow-content";
@import "utilities/visually-hidden";
@import "utilities/outline";

/* ==================================================
Blocks
================================================== */

@import "blocks/logo";
@import "blocks/platforms";
@import "blocks/form";
