/* =============================
   Global styles
   ============================= */

:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--darkBlue: hsl(249, 10%, 26%);
	--grayishBlue: hsl(246, 25%, 77%);
}

body {
	display: grid;
	grid-template-columns: minmax(2.5%, 1fr) minmax(320px, 1240px) minmax(2.5%, 1fr);
	background: url("images/bg-intro-desktop.png");
	background-color: hsla(0, 100%, 74%);
	color: #fff;
	font-family: Poppins, sans-serif;
	font-size: clamp(0.5rem, 1rem + 0.5vw, 2rem);
	font-weight: 300;
	text-align: center;
}

.container {
	grid-column: 2;
	align-self: center;
	height: 100vh;
	margin: 5% auto;
}

a {
	color: var(--red);
	text-decoration: none;
}

/* =============================
   Mobile styles
   ============================= */

h1 {
	margin-bottom: 1em;
	line-height: 1.2;
}

p {
	margin-bottom: 3em;
}

.accent {
	display: inline-block;
	width: 100%;
	margin-bottom: 2em;
	padding: 1em 3em;
	border-radius: 0.5em;
	background-color: var(--blue);
	box-shadow: 0 7.5px 0 rgba(218, 103, 103, 1);
}

/* Form styles
   ============================= */

form {
	display: flex;
	flex-direction: column;
	padding: 1.5em;
	border-radius: 0.5em;
	background-color: #fff;
	box-shadow: 0 7.5px 0 rgba(218, 103, 103, 1);
}

label {
	position: relative;
}

input {
	width: 100%;
	padding: 0.75em 1em;
	border: 1px solid rgba(225, 225, 225, 1);
	border-radius: 0.25em;
}

input::placeholder {
	font-size: inherit;
}

input:focus {
	outline: 2px solid var(--red);
}

button {
	margin-bottom: 1em;
	padding: 1em;
	border: none;
	border-radius: 0.25em;
	background: var(--green);
	box-shadow: 0 5px 0 rgba(49, 185, 126, 1);
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

button:focus,
input:focus {
	outline: 2px solid var(--blue);
}

footer {
	color: var(--grayishBlue);
	font-weight: 500;
}

/* Error messages and icons
   ============================= */

img {
	visibility: hidden;
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
}

.error-message {
	height: 2em;
	margin: 0.25em 0 1em;
	color: var(--red);
	font-size: clamp(0.25rem, 0.5rem + 0.5vw, 0.75rem);
	font-style: italic;
	font-weight: 300;
	text-align: right;
}

/* =============================
   Desktop styles
   ============================= */

@media only screen and (min-width: 850px) {
	body {
		grid-template-columns: minmax(15%, 1fr) minmax(320px, 1240px) minmax(15%, 1fr);
		font-size: clamp(0.5rem, 0.25vw + 1rem, 2rem);
		text-align: left;
	}

	.container {
		display: flex;
		align-items: center;
		gap: 10%;
	}

	header {
		width: 45%;
	}

	main {
		width: 45%;
		text-align: center;
	}
}
