/* 	Features Section
   	================================================== */

.features {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	justify-content: center;
	text-align: center;
	gap: 4rem;

	@include respond-to("medium") {
		grid-template-columns: repeat(2, minmax(0, 45ch));
		text-align: left;
	}

	@include respond-to("large") {
		grid-template-columns: repeat(4, minmax(0, 45ch));
	}
}

.feature img {
	box-sizing: content-box;
	width: 2rem;
	height: 2rem;
	padding: 1em;
	border-radius: 1em;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
	background-color: var(--clr-primary-100);

	@include respond-to("medium") {
		margin-left: 0;
	}
}
