/* 	Hero Section
   	================================================== */

.hero {
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
	gap: 6rem;

	img {
		max-height: 40rem;
	}

	div.flow-content {
		max-width: 40ch;
	}

	div.order-release {
		display: inline-flex;
		align-items: baseline;
		width: 100%;
		gap: 2rem;
	}
}
