/* 	Hero Section
   	================================================== */

.hero {
	align-items: center;
	margin-top: 3rem;
	gap: 6rem;

	div.flow-content {
		max-width: 40ch;
	}

	div.order-release {
		display: inline-flex;
		align-items: baseline;
		gap: 2rem;
		width: 100%;
		margin-top: 2;
	}
}
