/* 	Wireless Section
   	================================================== */

.wireless {
	gap: 4rem;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin-bottom: 8rem;

	@include respond-to("medium") {
		text-align: left;
	}

	@include respond-to("large") {
		flex-direction: row;
	}

	div.photos {
		gap: 2rem;
		flex-direction: row;

		@include respond-to("large") {
			flex-basis: 70%;
		}

		.filter {
			position: relative;
		}

		.filter::after {
			content: "";
			display: block;
			background-color: var(--clr-primary-100);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			border-radius: 1em;
			opacity: 0.75;
		}
	}

	div.contents {
		gap: 2rem;
		align-items: center;

		@include respond-to("medium") {
			flex-direction: row;
		}

		@include respond-to("large") {
			flex-basis: 25%;
			flex-direction: column;
		}
	}
}
