:root {
	/* Colors */
	--clr-primary-100: 263, 55%, 52%;
	--clr-primary-200: 219, 29%, 14%;
	--clr-primary-300: 217, 19%, 35%;
	--clr-neutral-100: 0, 0%, 100%;
	--clr-neutral-200: 0, 0%, 81%;
	--clr-neutral-300: 210, 46%, 95%;

	/* Font size */
	--fs-300: 0.85rem;
	--fs-400: 1rem;
	--fs-500: 1.5rem;

	/* Spacing */
	--spacer: 1em;

	/* font-family */
	--ff-body: "Barlow Semi Condensed", sans-serif;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	background-color: hsl(var(--clr-neutral-300));
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	font-weight: 500;
	line-height: 1.4;
}

/* 	Typography
   	================================================== */

.position {
	margin-top: 0.15em;
	font-size: var(--fs-300);
	color: var(--position, hsla(var(--clr-primary-200), 0.5));
}

.short {
	font-size: var(--fs-500);
}

.long {
	color: var(--long, hsla(var(--clr-primary-200), 0.7));
}

/*  ==================================================
    Composition
    ================================================== */

.testimonials {
	display: grid;
	grid-template-rows: min-content min-content;
	grid-template-columns: repeat(autofill, minmax(18em, 1fr));
	grid-auto-flow: dense;
	grid-auto-flow: dense;
	gap: var(--spacer);
}

@media only screen and (min-width: 50em) {
	.rows-2 {
		grid-row: 1 / span 2;
		grid-column: 4;
	}

	.cols-2 {
		grid-column: span 2;
	}
}

/*   ==================================================
   	Utilities
	  ================================================== */

/*  Spacing
    ------------------- */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
}

.center-content > * {
	grid-column: 2;
	margin-top: 30%;
	margin-bottom: 30%;
}

.flow > * + * {
	margin-top: var(--spacer);
}

.flex {
	display: flex;
	align-items: center;
	line-height: 1.2;
	gap: var(--spacer);
}

/*  Color
    ------------------- */

.accent-primary-100 {
	--border: hsla(var(--clr-neutral-100), 0.5);
	--bg: hsl(var(--clr-primary-100));
	--fg: hsl(var(--clr-neutral-100));
	--position: hsla(var(--clr-neutral-100), 0.5);
	--long: hsla(var(--clr-neutral-100), 0.7);
}

.accent-primary-200 {
	--border: hsla(var(--clr-primary-100), 0.5);
	--bg: hsl(var(--clr-primary-200));
	--fg: hsl(var(--clr-neutral-100));
	--position: hsla(var(--clr-neutral-100), 0.5);
	--long: hsla(var(--clr-neutral-100), 0.7);
}

.accent-primary-300 {
	--border: hsla(var(--clr-primary-300), 0.5);
	--bg: hsl(var(--clr-primary-300));
	--fg: hsl(var(--clr-neutral-100));
	--position: hsla(var(--clr-neutral-100), 0.5);
	--long: hsla(var(--clr-neutral-100), 0.7);
}

/* ==================================================
   Blocks
   ================================================== */

.testimonial {
	padding: 2rem;
	border-radius: var(--spacer);
	background-color: var(--bg, hsl(var(--clr-neutral-100)));
	color: var(--fg, hsl(var(--clr-primary-200)));
}

.testimonial img {
	border: 3px solid var(--border, hsl(var(--clr-neutral-300)));
	border-radius: 50%;
}
