:root {
	/* Colors */
	--clr-primary-100: 263, 55%, 52%;
	--clr-primary-200: 217, 19%, 35%;
	--clr-primary-200: 219, 29%, 14%;
	--clr-neutral-100: 0, 0%, 100%;
	--clr-neutral-200: 0, 0%, 81%;
	--clr-neutral-300: 210, 46%, 95%;

	/* Font size */
	--fs-300: 0.85rem;
	--fs-400: 1rem;
	--fs-500: 1.5rem;

	/* Spacing */
	--spacer: 1rem;
	--line-height: 1.8;

	/* font-family */
	--ff-body: "Barlow Semi Condensed", sans-serif;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	font-weight: 500;
	background-color: hsl(var(--clr-neutral-300));
}

/* 	Typography
   	================================================== */

.position {
	font-size: var(--fs-300);
}

.short {
	font-size: var(--fs-500);
}

/*  ==================================================
    Composition
    ================================================== */

.testimonials {
	display: grid;
	gap: var(--spacer);
}

/* 	==================================================
   	Utilities
	  ================================================== */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
}

.center-content > * {
	margin-top: 30%;
	margin-bottom: 30%;
	grid-column: 2;
}

.container {
	padding: clamp(1rem, 2.5%, 3rem);
}

.flex {
	display: flex;
	align-items: center;
	gap: var(--spacer);
}

/* ==================================================
   Blocks
   ================================================== */

.testimonial {
	background-color: var(--bg, hsl(var(--clr-neutral-100)));
}
