/* Text meant only for screen readers */
.visually-hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

.visually-hidden:hover,
.visually-hidden:active,
.visually-hidden:focus {
	display: block;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	background-color: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	color: currentColor;
	clip: auto !important;
}
