/* Center main content on page */
$min: 0;
$max: 1440px;

.center-content {
	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: minmax($min, 1fr) minmax($min, $max) minmax($min, 1fr);

	& > * {
		grid-column: 2;
	}
}
