:root {
	/* Primary - Text */
	--clr-primary-100: hsl(163, 72%, 41%);
	--clr-primary-200: hsl(356, 69%, 56%);
	--clr-primary-facebook: hsl(208, 92%, 53%);
	--clr-primary-twitter: hsl(203, 89%, 53%);
	--clr-primary-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--clr-primary-youtube: hsl(348, 97%, 39%);

	/* Light Theme */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(227, 49%, 96%);
	--clr-fg-100: hsl(230, 17%, 14%);
	--clr-fg-200: hsl(228, 12%, 44%);
	--clr-toggle: hsl(230, 22%, 74%);

	/* Spacing */
	--spacer: 1rem;
	--lh-small: 1.3;
	--lh-regular: 1.8;

	/* Font size */
	--fs-300: 0.75rem;
	--fs-400: 1rem;
	--fs-500: 1.5rem;
	--fs-600: 3.5rem;
	--fs-700: 4rem;

	/* font-family */
	--ff-body: "Inter", sans-serif;

	/* Toggle switch */
	--metric-toggle-thumb-size: 1.5rem;
	--metric-toggle-thumb-space: 0.2rem;
	--metric-toggle-icon-space: 0.5rem;
}

/* Dark Theme */
:root.dark-theme {
	--clr-neutral-200: hsl(228, 28%, 20%);
	--clr-neutral-100: hsl(230, 17%, 14%);
	--clr-fg-100: hsl(0, 0%, 100%);
	--clr-fg-200: hsl(228, 34%, 66%);
	--clr-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

@media (prefers-color-scheme: dark) {
	:root.dark-theme {
		--clr-neutral-200: hsl(228, 28%, 20%);
		--clr-neutral-100: hsl(230, 17%, 14%);
		--clr-fg-100: hsl(0, 0%, 100%);
		--clr-fg-200: hsl(228, 34%, 66%);
		--clr-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	}
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	background-color: var(--clr-neutral-100);
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	text-align: center;
	color: var(--clr-fg-100);
	margin-top: 3rem;
}

:focus-visible {
	outline: 3px dotted currentColor;
	outline-offset: 0.2rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

/* 	Typography
   	================================================== */

h1 {
	margin-bottom: 0.25em;
	font-size: 2rem;
	text-align: left;
}

.subheading {
	text-align: left;
}

h2 {
	margin-bottom: 1em;
	font-size: 1.5rem;
	text-align: left;
}

a,
label,
.subheading,
.today p:not([class]) {
	font-weight: 700;
	text-decoration: none;
	color: var(--clr-fg-200);
}

/* 	==================================================
   	Utilities
	================================================== */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 3);
}

.flow-content > * + * {
	margin-top: var(--spacer, 1rem);
}

.container {
	padding-right: clamp(1rem, 2.5%, 3rem);
	padding-left: clamp(1rem, 2.5%, 3rem);
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--spacer) * 2);
}

.increase {
	position: relative;
	color: var(--clr-primary-100);
}

.increase::before {
	content: "\25B2";
	position: relative;
	display: inline-block;
	top: -0.5em;
	left: -0.5em;
	font-size: 0.5em;
}

.decrease {
	color: var(--clr-primary-200);
}

.decrease::before {
	content: "\25BC";
	position: relative;
	display: inline-block;
	top: -0.25em;
	left: -0.5em;
	font-size: 0.5em;
}

/* 	==================================================
	Blocks
	================================================== */

/* 	Toggle
   	================================================== */

.toggle {
	line-height: 1;
	font-weight: 700;
	position: relative;
	display: flex;
	align-items: center;
	gap: var(--spacer);
}

/* Hide native checkbox and position on top of toggle */
.toggle__element {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: var(--metric-toggle-thumb-size);
	width: 1em;
	height: 1em;
}

/* Style toggle pill */
.toggle__decor {
	display: block;
	position: relative;
	overflow: hidden;
	width: calc((var(--metric-toggle-thumb-size) * 2) + (var(--metric-toggle-thumb-space) * 2));
	height: calc(var(--metric-toggle-thumb-size) + (var(--metric-toggle-thumb-space) * 1.75));
	background: var(--clr-toggle);
	border-radius: var(--metric-toggle-thumb-size);
	box-sizing: content-box;
}

/* Style toggle thumb */
.toggle__thumb {
	display: grid;
	place-items: center;
	width: var(--metric-toggle-thumb-size);
	height: var(--metric-toggle-thumb-size);
	border-radius: var(--metric-toggle-thumb-size);

	/* prettier-ignore */
	background:
		linear-gradient(
			229.84deg,
			rgba(255, 255, 255, 0) 14.29%,
			rgba(48, 48, 48, 0.15) 81.82%
		),
		#fff;
	box-shadow: 0 0 var(--metric-toggle-thumb-space) rgba(0, 0, 0, 0.25);
	position: absolute;
	top: var(--metric-toggle-thumb-space);
	left: var(--metric-toggle-thumb-space);
	transition: transform 200ms cubic-bezier(1, 0, 0.55, 0.85);
	z-index: 1;
}

/* Add focus marker to thumb */
.toggle__thumb::before {
	content: "";
	display: none;
	width: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
	height: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
	border: 2px solid var(--clr-primary-100);
	border-radius: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
}

:focus + .toggle__decor:not(:hover) .toggle__thumb::before {
	display: block;
}

/* Transition on checked */
:checked + .toggle__decor .toggle__thumb {
	transform: translateX(var(--metric-toggle-thumb-size)) rotate(270deg);
	box-shadow: 0 0 var(--metric-toggle-thumb-space) rgba(0, 0, 0, 0.9);
}

/* Nudge effect when hovering over toggle */
.toggle__decor:hover .toggle__thumb {
	margin-left: 1px;
}

:checked + .toggle__decor:hover .toggle__thumb {
	margin-left: -1px;
}

/* 	Cards
   	================================================== */

.summaries,
.todays {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	border-radius: 0.5em;
	gap: calc(var(--spacer) * 2);
}

.card {
	display: grid;
	padding: calc(var(--spacer) * 2);
	border-radius: 0.5em;
	background-color: var(--clr-neutral-200);
	gap: calc(var(--spacer) * 2);
}

/* 	Summary cards
    ------------------- */

.summary .total {
	font-size: 3rem;
	font-weight: 700;
}

.summary .total span {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--clr-fg-200);
}

.summaries a {
	display: flex;
	justify-content: center;
	gap: var(--spacer);
}

.summaries .facebook {
	border-top: 0.25em solid var(--clr-primary-facebook);
}

.summaries .twitter {
	border-top: 0.25em solid var(--clr-primary-twitter);
}

/* FIXME border image not working rounded */
.summaries .instagram {
	border: 0.25em solid transparent;
	border-image: var(--clr-primary-instagram);
	border-image-slice: 1;
	border-image-width: 0.25em 0 0 0;
}

.summaries .youtube {
	border-top: 0.25em solid var(--clr-primary-youtube);
}

/* 	Today cards
    ------------------- */

.todays .card {
	grid-template-rows: auto 1fr;
	grid-template-columns: max-content 1fr;
}

.today > p:not([class]) {
	align-self: start;
	justify-self: start;
}

.today > a {
	align-self: start;
	justify-self: end;
}

.today .total {
	align-self: end;
	justify-self: start;
	font-size: 2.5rem;
	font-weight: 700;
}

.today .increase,
.today .decrease {
	align-self: end;
	justify-self: end;
}
