/* =============================
   Global styles
   ============================= */

:root {
	/* Colors  */
	--darkGrayishBlue: hsl(217, 19%, 35%);
	--desaturatedDarkBlue: hsl(214, 17%, 51%);
	--grayishBlue: hsl(212, 23%, 69%);
	--lightGrayishBlue: hsl(210, 46%, 95%);

	/* Typography */
	font-family: Manrope, sans-serif;
}

/* Layout
============================= */

body {
	grid-template-columns: minmax(5%, 1fr) minmax(320px, 1000px) minmax(5%, 1fr);
	display: grid;
	place-items: center;
	background-color: var(--lightGrayishBlue);
}

/* Typography
============================= */

h1 {
	margin-top: 1em;
	margin-bottom: 1em;
	color: var(--darkGrayishBlue);
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.5;
}

p {
	color: var(--desaturatedDarkBlue);
	line-height: 1.75;
}

/* Toggle visibility
   ============================= */

.toggle-content {
	transition: opacity 150ms linear;
	opacity: 0;
}

.toggle-content.is-visible {
	visibility: visible;
	opacity: 1;
}

/* =============================
   Main section - Mobile
   ============================= */

.component {
	display: grid;
	grid-column: 2;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 2px 24px 0 hsla(217, 19%, 35%, 0.5);
}

.contentWrapper {
	display: grid;
	position: relative;
	margin-top: 1em;
	padding: 2em;
}

.banner-image {
	border-radius: 15px 15px 0 0;
}

/* Avatar
   ============================= */

.avatar {
	display: flex;
	align-items: center;
	margin-top: 2em;
}

.avatar-image {
	height: 3em;
	margin-right: 1em;
	border-radius: 50%;
}

.avatar-flexWrapper {
	margin-right: auto;
	color: var(--grayishBlue);
	letter-spacing: 1px;
}

.avatar-flexWrapper p {
	margin-bottom: 0.25em;
	color: var(--darkGrayishBlue);
	font-weight: 700;
	line-height: 1.2;
}

.avatar-icon {
	padding: 0.75em;
	border: none;
	border-radius: 50%;
	background-color: var(--lightGrayishBlue);
}

/* =============================
   Toggled section
   ============================= */

.share {
	/* display: none; */
	display: flex;
	visibility: hidden;
	position: absolute;
	bottom: 0;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.85em;
	border-radius: 0 0 15px 15px;
	background-color: var(--darkGrayishBlue);
}

.share-flexWrapper {
	display: flex;
	align-items: center;
}

.share-flexWrapper > * {
	margin-right: 1.25em;
}

.share-flexWrapper li {
	color: var(--grayishBlue);
	letter-spacing: 5px;
	text-transform: uppercase;
}

.social-icon {
	height: 1.5em;
}

.share-icon {
	padding: 0.75em;
	border: none;
	border-radius: 50%;
	background-color: var(--lightGrayishBlue);
}

/* =============================
   Media queries - Tablet and Desktop
   ============================= */

@media screen and (min-width: 740px) {
	.component {
		grid-template-columns: 1fr 1.5fr;
	}

	.contentWrapper {
		margin: 0;
	}

	.banner-image {
		height: 100%;
		object-fit: cover;
		border-radius: 15px 0 0 15px;
	}

	/* Toggled section
	   ============================= */

	.share {
		right: -5em;
		bottom: 8em;
		width: auto;
		padding: 1.25em 1.75em;
		border-radius: 10px;
		box-shadow: 0 2px 24px 0 hsla(217, 19%, 35%, 0.5);
		font-size: 0.75rem;
	}

	.share::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		width: 0;
		height: 0;
		transform: translateX(-50%);
		border-top: solid 10px var(--darkGrayishBlue);
		border-right: solid 10px transparent;
		border-left: solid 10px transparent;
	}

	.share-flexWrapper > img:last-of-type {
		margin-right: 0;
	}

	.share-flexWrapper li {
		font-size: 1em;
		letter-spacing: 4px;
	}

	.share-icon {
		display: none;
	}
}
