:root {
	/* colors */
	--clr-primary-000: rgba(255, 255, 255, 1);
	--clr-primary-200: rgba(228, 234, 255, 1);
	--clr-primary-400: rgba(211, 220, 255, 1);
	--clr-primary-600: rgba(130, 156, 255, 1);
	--clr-primary-800: rgba(81, 117, 255, 1);
	--clr-secondary-200: rgba(153, 156, 167, 1);
	--clr-secondary-300: rgba(145, 150, 171, 1);
	--clr-secondary-400: rgba(116, 123, 149, 1);
	--clr-secondary-600: rgba(51, 57, 80, 1);
	--clr-secondary-800: rgba(37, 41, 58, 1);
	--clr-error-200: rgba(240, 91, 91, 1);

	/* spacing */
	--spacer: 1em;

	/* font weight */
	--fw-300: 300;
	--fw-400: 400;
	--fw-700: 700;

	/* font size */
	--fs-100: 0.5rem;
	--fs-200: 0.65rem;
	--fs-300: 0.8rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 2rem;
	--fs-800: 2.5rem;
	--fs-900: 3rem;
	--fs-1000: 5rem;
}

/* ==========================================================
Global styles
========================================================== */
body {
	color: var(--clr-secondary-300);
	display: grid;
	font-family: "Kumbh Sans", sans-serif;
	font-size: clamp(var(--fs-300) calc(var(--fs-500) + 1vw), var(--fs-600));
	font-weight: var(--fw-400);
	grid-template-columns: minmax(1em, 1fr) minmax(calc(360px - 2em), 1440px) minmax(1em, 1fr);
	line-height: 1.8;
	text-align: center;
}

h1 {
	color: var(--fg, var(--clr-secondary-800));
	font-size: clamp(var(--fs-600), calc(var(--fs-700) + 1vw), var(--fs-800));
}

h2 {
	color: var(--fg, var(--clr-secondary-800));
	font-size: clamp(var(--fs-400), calc(var(--fs-400) + 1vw), var(--fs-500));
}

@media only screen and (min-width: 45em) {
	body {
		text-align: left;
	}
}

/* ==========================================================
Utilities
========================================================== */

/* Layout
	 ========================================================== */
.container {
	grid-column: 2;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 45em) {
	.home .container {
		max-width: 90%;
	}

	.sign-up .container {
		max-width: 80%;
	}
}

.flow-content > * + * {
	margin-top: var(--spacer, 1em);
}

.flow-section > * + * {
	margin-top: calc(var(--spacer, 3em) * 5);
}

.split {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacer, 2em) * 4);
}

.split > * {
	flex-basis: 100%;
}

@media only screen and (min-width: 60em) {
	.split {
		flex-direction: row;
		gap: var(--spacer);
	}
}

@media only screen and (min-width: 45em) {
	.home .grid {
		display: grid;
		gap: 0 calc(var(--spacer) * 4);
		grid-auto-flow: column dense;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
	}

	.home .column-2 {
		grid-area: 1 / -2 / -1 / -1;
	}
}

@media only screen and (min-width: 60em) {
	.home .grid {
		grid-template-rows: 1fr auto 1fr;
	}

	/* HACK Issues with `align-content: center`  on parent */
	.home header .grid h1 {
		align-self: end;
	}

	.home header .grid > .btn {
		align-self: start;
	}

	.sign-up .grid {
		align-content: center;
		display: grid;
		gap: calc(var(--spacer) * 4);
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.sign-up .column-2 {
		grid-area: 1 / -2 / -1 / -1;
	}

	/* HACK Issues with `align-content: center`  on parent */
	.sign-up .grid header {
		align-self: end;
	}

	.sign-up .grid section:first-of-type {
		align-self: start;
		margin-top: 0;
	}

	.sign-up .grid .column-2 {
		align-self: center;
	}
}

/* Colors
	 ========================================================== */

.accent-light {
	--bg: var(--clr-primary-000);
	--bg-h: var(--clr-primary-000);
	--fg: var(--clr-primary-800);
	--fg-h: var(--clr-primary-600);
}

.accent-dark {
	--bg: var(--clr-primary-800);
	--bg-h: var(--clr-primary-600);
	--fg: var(--clr-primary-000);
	--fg-h: var(--clr-primary-000);
}

.accent-extra-dark {
	--bg: var(--clr-secondary-600);
	--fg: var(--clr-primary-000);
}

/* Pseudo buttons
	 ========================================================== */

.btn {
	align-self: center;
	background-color: var(--bg, var(--clr-primary-200));
	border: none;
	border-radius: 2em;
	color: var(--fg, var(--clr-primary-600));
	display: inline-block;
	font-weight: var(--fw-700);
	justify-self: center;
	line-height: 1;
	padding: 1em 2.5em;
	text-align: center;
	text-decoration: none;
	transition: background-color 250ms linear;
}

.btn:hover,
.btn:focus {
	background-color: var(--bg-h, var(--clr-primary-400));
	color: var(--fg-h, var(--clr-primary-600));
}

.btn:focus-visible {
	outline: 2px solid var(--clr-accent-200);
}

.btn:focus:not(:focus-visible) {
	outline: 0;
}

@media only screen and (min-width: 45em) {
	.grid .btn {
		justify-self: start;
	}
}

/* ==========================================================
	 Blocks
	 ========================================================== */

/* Header
	 ========================================================== */

.logo {
	display: inline-block;
	margin-bottom: 3em;
	padding-top: 5%;
}

.hero {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 45em) {
	/* HACK align outer edge of image with container on home page */
	.logo {
		display: block;
	}

	.hero {
		transform: translateX(5%);
	}

	.sign-up header {
		text-align: center;
	}
}

@media only screen and (min-width: 60em) {
	.sign-up header {
		text-align: left;
	}
}

/* Plans
	 ========================================================== */

.plan {
	background-color: var(--bg, var(--clr-primary-000));
	border-radius: 1em;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
	color: var(--fg, inherit);
	padding: 2em;
}

.plan.accent-dark {
	background-image: url(design/home/bg-pattern-pricing.svg);
	background-position: center 90%;
	background-repeat: no-repeat;
}

.plan ul + ul {
	margin-top: calc(var(--spacer) * 3);
}

.plan ul:first-of-type {
	color: var(--fg, var(--clr-secondary-800));
}

.price {
	font-size: var(--fs-900);
	font-weight: var(--fw-700);
}

@media only screen and (min-width: 60em) {
	.grid.plan {
		display: revert;
		text-align: center;
	}
}

/* Countdown
	 ========================================================== */

.countdown {
	justify-content: space-between;
	line-height: 1.2;
	margin-bottom: 5em;
	text-align: center;
}

.countdown h2 {
	color: var(--clr-primary-800);
	font-size: var(--fs-400);
	letter-spacing: 2px;
	text-transform: uppercase;
}

.countdown h2 span {
	/* color: var(--clr-primary-000); */
}

.countdown-app {
	flex-direction: row;
	gap: 0.25em;
	justify-content: center;
}

.countdown-app > div {
	background-color: var(--bg, var(--clr-primary-200));
	border-radius: 0.5em;
	max-width: min-content;
	padding: 0.5em;
}

.countdown-app p:not([id]) {
	color: var(--fg, var(--clr-primary-600));
	font-size: clamp(var(--fs-700), calc(var(--fs-900) + 1vw), var(--fs-1000));
}

.countdown-app p[id] {
	color: var(--clr-secondary-400);
	font-size: clamp(var(--fs-200), calc(var(--fs-200) + 1vw), var(--fs-300));
	font-weight: var(--fw-700);
}

@media only screen and (min-width: 45em) {
	.countdown-app {
		gap: 1em;
	}

	.countdown-app > div {
		padding: 1em;
	}
}

@media only screen and (min-width: 60em) {
	.countdown h2 {
		text-align: left;
	}

	.countdown-app {
		justify-content: start;
	}

	/* HACK stop button stretching
		 -------------------------- */
	.countdown .btn {
		max-width: max-content;
	}
}

/* Form
	 ========================================================== */

/* TODO add form validation and style dropdown
			-------------------------- */

form.split {
	flex-direction: column;
	gap: 0;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	padding: 1em 2em;
}

form > * {
	margin-top: 0.5em;
	padding-bottom: 1em;
	padding-top: 1em;
}

form select,
form input {
	border: none;
	border-bottom: 1px solid var(--clr-secondary-200);
	padding-left: 1em;
}

form input::placeholder {
	color: var(--clr-secondary-200);
}

form button {
	margin-bottom: 0.5em;
	margin-top: 2em;
}
