:root {
	/* colors */
	--clr-primary-000: rgba(255, 255, 255, 1);
	--clr-primary-200: rgba(228, 234, 255, 1);
	--clr-primary-400: rgba(211, 220, 255, 1);
	--clr-primary-600: rgba(130, 156, 255, 1);
	--clr-primary-800: rgba(81, 117, 255, 1);
	--clr-secondary-200: rgba(153, 156, 167, 1);
	--clr-secondary-300: rgba(145, 150, 171, 1);
	--clr-secondary-400: rgba(116, 123, 149, 1);
	--clr-secondary-600: rgba(51, 57, 80, 1);
	--clr-secondary-800: rgba(37, 41, 58, 1);
	--clr-error-200: rgba(240, 91, 91, 1);

	/* spacing */
	--spacer: 1em;

	/* font weight */
	--fw-300: 300;
	--fw-400: 400;
	--fw-700: 700;

	/* font size */
	--fs-100: 0.5rem;
	--fs-200: 0.65rem;
	--fs-300: 0.8rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 2rem;
	--fs-800: 2.5rem;
	--fs-900: 3rem;
	--fs-1000: 5rem;
}

/* ==========================================================
Global styles
========================================================== */
body {
	color: var(--clr-secondary-300);
	font-weight: var(--fw-400);
	font-size: clamp(var(--fs-300) calc(var(--fs-500) + 1vw), var(--fs-600));
	font-family: "Kumbh Sans", sans-serif;
	line-height: 1.8;
	text-align: center;
}

/* Background images
	 ========================================================== */

/* Home page
	 -------------------------- */

/* prettier-ignore  */
.home {
	background:
		url(design/home/bg-pattern-header.svg) center -10em/90% no-repeat,
		url(design/home/bg-pattern-footer.svg) center 95%/200% no-repeat,
		linear-gradient(rgba(251, 251, 251, 1) 60%, rgba(52, 52, 52, 1) 40%);
}

/* prettier-ignore  */
@media only screen and (min-width: 45em) {
	.home {
		background:
			url(design/home/bg-pattern-header.svg) right -15em  top -15em/90% no-repeat,
			url(design/home/bg-pattern-footer.svg) center bottom -10em/100% no-repeat,
			linear-gradient(rgba(251, 251, 251, 1) 55%, rgba(52, 52, 52, 1) 45%);
	}
}

/* prettier-ignore  */
@media only screen and (min-width: 60em) {
	.home {
		background:
			url(design/home/bg-pattern-header.svg) right -15em  top -15em/50% no-repeat,
			url(design/home/bg-pattern-footer.svg) left -15em bottom -10em/50% no-repeat,
			linear-gradient(rgba(251, 251, 251, 1) 65%, rgba(52, 52, 52, 1) 35%);
	}
}

/* Sign-up page
	 -------------------------- */

/* prettier-ignore  */
.sign-up {
	background:
		url(design/home/bg-pattern-header.svg) center -15em/150% no-repeat,
		url(design/home/bg-pattern-footer.svg) center bottom/100% no-repeat,
		linear-gradient(rgba(251, 251, 251, 1) 75%, rgba(52, 52, 52, 1) 35%);
}

/* prettier-ignore  */
@media only screen and (min-width: 45em) {
	.sign-up {
		background:
			url(design/home/bg-pattern-footer.svg) center bottom -15em/110% no-repeat,
			linear-gradient(rgba(251, 251, 251, 1) 70%, rgba(52, 52, 52, 1) 30%);
	}
}

/* prettier-ignore  */
@media only screen and (min-width: 60em) {
	.sign-up {
		background:
			url(design/home/bg-pattern-footer.svg) right -25em top -30em/100% no-repeat,
			linear-gradient(90deg, rgba(251, 251, 251, 1) 70%, rgba(52, 52, 52, 1) 30%);
	}
}

h1 {
	color: var(--fg, var(--clr-secondary-800));
	font-size: clamp(var(--fs-700), calc(var(--fs-800) + 1vw), var(--fs-900));
}

h2 {
	color: var(--fg, var(--clr-secondary-800));
	font-size: clamp(var(--fs-400), calc(var(--fs-400) + 1vw), var(--fs-500));
}

@media only screen and (min-width: 45em) {
	body {
		text-align: left;
	}
}

/* ==========================================================
Utilities
========================================================== */

/* Layout
	 ========================================================== */
.container {
	grid-column: 2;
	width: min(90%, 1440px);
	margin-right: auto;
	margin-bottom: 3em;
	margin-left: auto;
}

.flow-content > * + * {
	margin-top: var(--spacer, 1em);
}

.flow-section > * + * {
	margin-top: calc(var(--spacer, 3em) * 5);
}

.split {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacer, 2em) * 4);
}

@media only screen and (min-width: 60em) {
	.split {
		flex-direction: row;
		gap: var(--spacer);
	}
}

@media only screen and (min-width: 45em) {
	.column-2 {
		grid-area: 1 / -2 / -1 / -1;
	}
}

/* Home page grid layouts
	 -------------------------- */
@media only screen and (min-width: 45em) {
	.home .grid {
		display: grid;
		grid-auto-flow: column dense;
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr 1fr;
		gap: 0 calc(var(--spacer) * 4);
	}
}

@media only screen and (min-width: 60em) {
	.home .grid {
		grid-template-rows: 1fr auto 1fr;
	}
}

/* Sign-up page grid layouts
			 -------------------------- */
@media only screen and (min-width: 60em) {
	.sign-up .grid {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		gap: calc(var(--spacer) * 4) calc(var(--spacer) * 2);
	}
}

/* Colors
	 ========================================================== */

.accent-light {
	--bg: var(--clr-primary-000);
	--bg-h: var(--clr-primary-000);
	--fg: var(--clr-primary-800);
	--fg-h: var(--clr-primary-600);
}

.accent-dark {
	--bg: var(--clr-primary-800);
	--bg-h: var(--clr-primary-600);
	--fg: var(--clr-primary-000);
	--fg-h: var(--clr-primary-000);
}

.accent-extra-dark {
	--bg: var(--clr-secondary-600);
	--fg: var(--clr-primary-000);
}

/* Pseudo buttons
	 ========================================================== */

.btn {
	display: inline-block;
	align-self: center;
	justify-self: center;
	padding: 1em 2.5em;
	border: none;
	border-radius: 2em;

	color: var(--fg, var(--clr-primary-600));

	font-weight: var(--fw-700);
	line-height: 1;
	text-align: center;
	text-decoration: none;

	background-color: var(--bg, var(--clr-primary-200));
	cursor: pointer;

	transition: background-color 250ms linear;
}

.btn:hover,
.btn:focus {
	color: var(--fg-h, var(--clr-primary-600));

	background-color: var(--bg-h, var(--clr-primary-400));
}

.btn:focus-visible {
	outline: 2px solid var(--clr-primary-800));
}

.btn:focus:not(:focus-visible) {
	outline: 0;
}

/* ==========================================================
	 Blocks
	 ========================================================== */

/* Header
	 ========================================================== */

.logo {
	display: inline-block;
	margin-bottom: 5em;
	padding-top: 5%;
}

.hero {
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (min-width: 45em) {
	/* HACK align outer edge of image with container on home page */
	.logo {
		display: block;
	}

	.hero {
		transform: translateX(5%);
	}

	.sign-up header {
		text-align: center;
	}

	.grid .btn {
		justify-self: start;
	}
}

@media only screen and (min-width: 60em) {
	.home header h1 {
		align-self: end;
	}

	.home header .btn {
		align-self: start;
	}

	.sign-up header {
		align-self: start;

		text-align: left;
	}
}

/* Plans
	 ========================================================== */

.plan {
	flex-basis: 100%;
	padding: 2em;
	border-radius: 1em;

	color: var(--fg, inherit);

	background-color: var(--bg, var(--clr-primary-000));
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.plan.accent-dark {
	background-image: url(design/home/bg-pattern-pricing.svg);
	background-repeat: no-repeat;
	background-position: center 90%;
}

.plan ul + ul {
	margin-top: calc(var(--spacer) * 3);
}

.plan ul:first-of-type {
	color: var(--fg, var(--clr-secondary-800));
}

.price {
	font-weight: var(--fw-700);
	font-size: var(--fs-900);
}

@media only screen and (min-width: 60em) {
	.grid.plan {
		display: revert;

		text-align: center;
	}
}

/* Countdown
	 ========================================================== */

/* Countdown section
	 -------------------------- */

.countdown {
	justify-content: space-between;

	line-height: 1.2;
	text-align: center;
}

.countdown h2 {
	color: var(--clr-primary-800);
	font-size: var(--fs-500);
	letter-spacing: 3px;
	text-transform: uppercase;
}

.countdown h2 span {
	color: var(--fg, var(--clr-secondary-800));
}

/* Countdown app
-------------------------- */

.countdown-app {
	flex-direction: row;
	gap: 0.25em;
	justify-content: center;

	text-align: center;
}

.countdown-app > div {
	padding: 0.5em;
	border-radius: 0.5em;

	background-color: var(--bg, var(--clr-primary-200));
}

.countdown-app p[id] {
	min-width: 2ch;

	color: var(--fg, var(--clr-primary-600));
	font-size: clamp(var(--fs-700), calc(var(--fs-900) + 1vw), var(--fs-1000));
}

.countdown-app p:not([id]) {
	color: var(--clr-secondary-400);
	font-weight: var(--fw-700);
	font-size: clamp(var(--fs-200), calc(var(--fs-200) + 1vw), var(--fs-300));
}

@media only screen and (min-width: 45em) {
	.countdown-app {
		gap: 1em;
	}

	.countdown-app > div {
		padding: 1em;
	}
}

@media only screen and (min-width: 60em) {
	.countdown h2 {
		text-align: left;
	}

	.countdown-app {
		justify-content: start;
	}
}

/* Form
	 ========================================================== */

.sign-up .column-2 {
	display: flex;
	width: 80%;
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (min-width: 60em) {
	.sign-up .column-2 {
		margin-top: 0;
		margin-right: 0;
		margin-left: 3em;
	}
}

form.split {
	flex-direction: column;
	gap: 0;
	justify-content: space-around;
	padding: 1em 2em;
}

form > * {
	margin-top: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

form input {
	padding-left: 1em;
	border: none;
	border-bottom: 1px solid var(--clr-secondary-200);
}

form input::placeholder {
	color: var(--clr-secondary-200);
}

form button.btn {
	width: 100%;
	margin-top: 4em;
	margin-bottom: 2em;
	padding: 1.5em 3em;
}

form > *:focus-within {
	outline: 2px solid var(--clr-secondary-800);
}

/* Custom select menu
	 -------------------------- */

/* Hide default select */
select {
	width: 100%;
	margin: 0;
	padding: 0 1em 0 0;
	border: none;

	font-size: inherit;
	font-family: inherit;
	line-height: inherit;

	background-color: transparent;
	outline: none;
	cursor: inherit;

	appearance: none;
}

/* Create custom select */
.select {
	display: grid;
	grid-template-areas: "select";
	align-items: center;
	width: 100%;
	margin-top: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.8em;
	border-bottom: 1px solid var(--clr-secondary-200);

	cursor: pointer;
}

select,
.select::after {
	grid-area: select;
}

.select::after {
	justify-self: end;
	width: 0.8em;
	height: 0.5em;

	background-color: var(--clr-primary-800);

	content: "";
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.invalid,
.invalid::placeholder {
	color: var(--clr-error-200);
}

.invalid {
	border-bottom: 1px solid var(--clr-error-200);
}

/* ==========================================================
	 Exceptions
	 ========================================================== */

/* Adjust main content of sign-up height to match home page */
.sign-up div.flow-section {
	margin-top: 10em;
}
