/* 	Custom Properties
   	================================================== */

:root {
	/* Colors */
	--clr-primary-100: hsla(356, 100%, 66%, 1);
	--clr-primary-200: hsla(355, 100%, 74%, 1);
	--clr-primary-300: hsla(208, 49%, 24%, 1);
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-200: hsla(240, 2%, 79%, 1);
	--clr-neutral-300: hsla(207, 13%, 34%, 1);
	--clr-neutral-400: hsla(240, 10%, 16%, 1);

	// /* Gradients */
	--clr-gradient-intro: linear-gradient(to right, hsla(13, 100%, 72%, 1), hsla(353, 100%, 62%, 1));
	--clr-gradient-body: linear-gradient(to right, hsla(237, 23%, 32%, 1), hsla(237, 23%, 32% 1));

	/* Spacing */
	--spacer: 1rem;

	/* Font sizes */
	--step--1: clamp(0.78rem, 0.76rem + 0.12vw, 0.84rem);
	--step-0: clamp(0.94rem, 0.86rem + 0.37vw, 1.13rem);
	--step-1: clamp(1.13rem, 0.98rem + 0.73vw, 1.5rem);
	--step-2: clamp(1.35rem, 1.1rem + 1.27vw, 2rem);
	--step-3: clamp(1.62rem, 1.21rem + 2.04vw, 2.66rem);

	/* Font-families */
	--ff-body: "Overpass", sans-serif;
	--ff-headings: "Ubuntu", sans-serif;
}
