/* 	Features Section
   	================================================== */

.features {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	justify-content: center;
	gap: 5rem;

	@include respond-to("medium") {
		grid-template-columns: repeat(2, minmax(0, 45ch));
	}
}

.feature img {
	margin: 0 auto 2rem;
}
