.features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 5rem;
	margin-left: auto;
	margin-right: auto;

	@include respond-to("medium") {
		grid-template-columns: repeat(2, max(50ch));
	}
}

.feature img {
	margin: 0 auto 2rem;
}
