header nav.split {
	flex-direction: row;
	padding-top: clamp(2rem, 5%, 4rem);
	justify-content: space-between;

	ul.split {
		flex-basis: auto;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;

		@include respond-to("medium") {
			gap: 3rem;
		}
	}

	li {
		max-width: max-content;
	}
}
