nav.split {
	flex-direction: row;
	padding-top: clamp(2rem, 5%, 4rem);
}

.logo {
	max-width: 5rem;

	@include respond-to("medium") {
		max-width: 10rem;
	}
}

nav li {
	max-width: max-content;
}

nav ul.split {
	flex-basis: auto;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;

	@include respond-to("medium") {
		gap: 3rem;
	}
}
