/* 	Platforms Section
   	================================================== */

.platforms {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--spacer) * 1.5);

	@include viewport(medium) {
		justify-content: flex-start;
	}
}
