/* 	Productive Section
   	================================================== */

.productive {
	align-items: center;
	justify-content: space-between;
	text-align: left;
	gap: 5rem;
}

.productive img {
	margin-bottom: 0;
}

.productive h2 {
	margin-left: 0;
	font-size: var(--step-0);
	text-align: left;

	@include respond-to("medium") {
		font-size: var(--step-4);
	}
}

.productive a {
	display: inline-block;
	border-bottom: 1px solid var(--clr-accent-100);
	color: var(--clr-accent-100);

	svg {
		display: inline;
		margin-left: 0.25em;
		vertical-align: middle;

		// FIXME hover not working
		&:hover {
			fill: var(--clr-neutral-100);
		}
	}

	&:hover {
		border-bottom: 1px solid var(--clr-neutral-100);
		text-decoration: none;
		color: var(--clr-neutral-100);
	}
}
