/* 	Footer
   	================================================== */

footer.footer {
	padding-top: 12rem;
	padding-bottom: 3rem;
	margin-top: -6rem;
	margin-bottom: 3rem;
	background-color: var(--clr-neutral-200);
	text-align: left;

	div.split {
		justify-content: space-between;
		margin-top: 2rem;
		gap: 4rem;

		address {
			flex-basis: 50%;
		}
	}

	address.split {
		justify-content: space-between;
		gap: 2rem;

		a {
			display: block;
		}
	}

	nav.split {
		gap: 2rem;
	}

	.social-icons {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			fill: var(--clr-neutral-100);

			&:hover {
				fill: var(--clr-accent-100);
			}
		}
	}
}
