Skip to main content */ .skip-link {
	position: absolute;
	display: inline-block;
	top: 1rem;
	left: 1rem;
	padding: 0.7rem 1rem 0.5rem 1rem;
	background-color: white;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	outline: 3px dotted white;
	z-index: 100000;
}

.skip-link:hover {
	background: black;
	color: white;
}

.skip-link:not(:focus) {
	position: absolute;
	width: 1px;
	height: auto;
	padding: 0;
	border: 0;
	overflow: hidden;
	margin: 0;
	clip: rect(0 0 0 0);
	white-space: nowrap;
}

/* Remove necessary focus style as main is the :target */
main:focus {
	outline: none;
}
