/* Align flex children at small and large viewports */

.split {
	display: flex;
	flex-direction: column;
	gap: var(--spacer);

	& > * {
		flex: 1;
	}

	@include respond-to("medium") {
		flex-direction: row;
	}
}
