/* 	CTA
   	================================================== */

.dark {
	--fg: var(--clr-neutral-100);
	--bg: transparent;
	--bg-h: var(--clr-neutral-100);
	--fg-h: var(--clr-primary-100);

	border: 1px solid var(--clr-neutral-100);
}

.cta {
	display: block;
	min-width: 10rem;
	padding: 0.5em 1.5em;
	border-radius: 2em;
	background-color: var(--bg, var(--clr-neutral-100));
	transition: all 200ms;
	color: var(--fg, var(--clr-primary-100));
	letter-spacing: 1px;

	&:hover {
		background-color: var(--bg-h, var(--clr-primary-200));
		color: var(--fg-h, var(--clr-neutral-100));
	}
}
