/* 	Drop Down Menu
   	================================================== */

/* Global Sub-menu Link & Button Styles
   ------------------- */
.clicky-menu li > a,
.clicky-menu li > button {
	min-width: 8.5rem;
	border: none;
	background-color: transparent;
	color: var(--clr-neutral-100);
	cursor: pointer;
}

/* Top Level Items */
.clicky-menu > li {
	position: relative;
}

.clicky-menu li.login {
	// HACK to center link inside li
	display: grid;
	padding: 0 2rem;
	place-content: center center;
}

.clicky-menu li > a.cta {
	background-color: var(--clr-neutral-100);
	color: var(--clr-primary-100);
	width: max-content;

	&:hover {
		background-color: var(--clr-primary-200);
		color: var(--clr-neutral-100);
	}
}

/* Sub-menus
   ------------------- */
.clicky-menu ul {
	// Position off screen
	position: absolute;
	// Styles
	display: flex;
	top: 100%;
	left: 0;
	flex-direction: column;
	align-items: flex-start;
	visibility: hidden;
	min-width: 100%;
	padding: 1.5rem 1rem;
	border-radius: 0.25rem;
	margin-top: 0.5em;
	background-color: var(--clr-neutral-100);
	gap: 0.75rem;

	li a {
		text-align: left;
		color: var(--clr-neutral-300);

		&:hover {
			font-weight: 700;
		}
	}
}

.clicky-menu .login {
	display: block;
	max-width: 8rem;
}

.clicky-menu .cta {
	max-width: 8rem;
	margin-right: auto;
	margin-left: auto;
}

/* Prevent offscreen-sub-menus */
.clicky-menu .sub-menu--right {
	right: 0 !important;
	left: auto !important;
}

/* Icon */
.clicky-menu svg {
	margin-left: 0.5em;
	stroke: var(--clr-neutral-100);
}

.clicky-menu [aria-expanded="true"] svg {
	transform: scaleY(-1);
}

/* Burger Menu Style Adjustments
   ------------------- */

.burger-menu[enabled="true"] .clicky-menu ul {
	background-color: hsla(240, 2%, 79%, 0.5);
}

.burger-menu[enabled="true"] .navigation .clicky-menu li {
	width: 100%;
}

.burger-menu[enabled="true"] .navigation .clicky-menu li > a,
.burger-menu[enabled="true"] .navigation .clicky-menu li > button {
	text-align: center;
	color: var(--clr-neutral-400);
}

.burger-menu[enabled="true"] .navigation .clicky-menu li > a.cta {
	background-image: var(--clr-gradient-intro);
	color: var(--clr-neutral-100);

	&:focus-visible {
		outline: 3px dotted var(--clr-primary-200);
		outline-offset: 0.25rem;
	}
}

.burger-menu[enabled="true"] .clicky-menu ul[aria-hidden="false"] {
	position: static;
	visibility: visible;
}

/* Responsive Sub-menu Behavior */
.clicky-menu ul[aria-hidden="false"] {
	position: absolute;
	visibility: visible;
}

.burger-menu[enabled="true"] .clicky-menu svg path {
	stroke: var(--clr-primary-100);
}

/* No JavaScript Fallback to Hover Sub-menus
   ------------------- */

.clicky-menu.no-js li > a,
.clicky-menu.no-js li > button {
	display: block;
}

.clicky-menu.no-js li:hover > ul,
.clicky-menu.no-js li:focus-within > ul {
	visibility: visible;
	min-width: 100%;
	margin-top: 0;
}
