/* General Link & Button Styles */
.clicky-menu li > a,
.clicky-menu li > button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	min-width: 8.5rem;
	color: var(--clr-neutral-100);
}

/* Top Level Items */
.clicky-menu > li {
	position: relative;
}

.clicky-menu li > a.cta {
	background-color: var(--clr-neutral-100);
	color: var(--clr-primary-100);

	&:hover {
		background-color: var(var(--clr-primary-200));
		color: var(var(--clr-neutral-100));
	}
}

/* Sub-menus */
.clicky-menu ul {
	// Position off screen
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	// Styles
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 100%;
	margin-top: 0.5em;
	padding: 1.5rem 1rem;
	background-color: var(--clr-neutral-100);
	border-radius: 0.25rem;
	gap: 0.75rem;
	// box-shadow: 0 20px 40px var(--clr-neutral-400);

	li a {
		text-align: left;
		color: var(--clr-neutral-300);

		&:hover {
			font-weight: 700;
		}
	}
}

.clicky-menu .login {
	display: block;
	max-width: 8rem;
}

.clicky-menu .cta {
	max-width: 8rem;
	margin-left: auto;
	margin-right: auto;
}

/* Prevent offscreen-sub-menus */
.clicky-menu .sub-menu--right {
	left: auto !important;
	right: 0 !important;
}

.burger-menu[enabled="true"] .clicky-menu ul {
	background-color: hsla(240, 2%, 79%, 0.5);
}

.burger-menu[enabled="true"] .navigation .clicky-menu li {
	width: 100%;
}

.burger-menu[enabled="true"] .navigation .clicky-menu li > a,
.burger-menu[enabled="true"] .navigation .clicky-menu li > button {
	color: var(--clr-neutral-400);
	text-align: center;
}

.burger-menu[enabled="true"] .navigation .clicky-menu li > a.cta {
	background-image: var(--clr-gradient-intro);
	color: var(--clr-neutral-100);

	&:focus-visible {
		outline: 3px dotted var(--clr-primary-200);
		outline-offset: 0.25rem;
	}
}

/* Responsive Sub-menu Behavior */
.clicky-menu ul[aria-hidden="false"] {
	position: absolute;
	visibility: visible;
}

.burger-menu[enabled="true"] .clicky-menu ul[aria-hidden="false"] {
	visibility: visible;
	position: static;
}

/* Icon */
.clicky-menu svg {
	margin-left: 0.5em;
}

.burger-menu[enabled="true"] .clicky-menu svg path {
	stroke: var(--clr-primary-100);
}

.clicky-menu [aria-expanded="true"] svg {
	transform: scaleY(-1);
}

/**
 * No JS fallback
 * Triggers menus on hover rather than click.
 * Supports keyboard navigation in modern browsers.
 */

.clicky-menu.no-js li > a,
.clicky-menu.no-js li > button {
	display: block;
}

.clicky-menu.no-js li:hover > ul,
.clicky-menu.no-js li:focus-within > ul {
	margin-top: 0;
	visibility: visible;
	min-width: 100%;
}
