header {
	background-color: var(--clr-neutral-400);
	color: var(--clr-neutral-100);
}

.headline {
	margin-top: 6rem;
	padding-bottom: 6rem;

	.split {
		margin-top: 3rem;
		flex-direction: row;
		justify-content: center;
	}
}
