/* 	Main and Sub-sections
   	================================================== */

/* Designed Section
   ------------------- */

.designed {
	display: grid;
	gap: 2rem;

	@include respond-to("medium") {
		grid-template-rows: 6rem auto auto 6rem;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 4rem 1rem;

		h2 {
			grid-area: 1 / 1 / 2/ -1;
			text-align: center;
		}

		.picture {
			grid-area: 1 / 2 / 5 / -1;
		}

		.para-1 {
			grid-area: 2 / 1 / 3 / 2;
		}

		.para-2 {
			grid-area: 3 / 1 / 4 / 2;
		}
	}

	img {
		margin-right: auto;
		margin-left: auto;

		@include respond-to("medium") {
			max-width: 180%;
		}

		@include respond-to("large") {
			max-width: 200%;
			transform: translateX(5rem);
		}
	}
}

/* Infrastructure Section
   ------------------- */

.infrastructure {
	color: var(--clr-neutral-100);

	h2 {
		color: var(--clr-neutral-100);
	}

	.grid {
		display: grid;
		grid-template-rows: repeat(3, auto);
		align-items: center;

		img {
			grid-area: 1 / 1 / 3 / -1;
			margin-right: auto;
			margin-left: auto;
		}

		.para-1 {
			grid-area: 3 / 1 / -1 / -1;
			padding-top: 1rem;
			padding-bottom: 4rem;
		}

		.background {
			grid-area: 2 / 1 / -1 / 2;
			align-self: stretch;
			width: 100vw;
			border-radius: 0 5rem 0 5rem;
			margin-left: calc(50% - 50vw);
			background-color: var(--clr-primary-300);
			background-image: url("../images/bg-pattern-circles.svg");
			background-position: center -15rem;
			background-size: cover;
			background-repeat: no-repeat;
		}

		@include respond-to("medium") {
			grid-template-rows: 6rem auto 6rem;
			grid-template-columns: 1fr 1fr;
			background-size: 50%;
			gap: 4rem 1rem;

			img {
				grid-area: 1 / 1 / -1 / 2;
				margin-top: 2rem;
			}

			.para-1 {
				grid-area: 2 / 2 / 3 / -1;
				padding-top: 4rem;
			}

			.background {
				grid-area: 2 / 1 / 3 / -1;
				background-position: -10rem -20rem;
				background-size: 50%;
			}
		}
	}
}

/* Free, open and simple
   ------------------- */

.free-open {
	display: grid;
	gap: 3rem;

	@include respond-to("medium") {
		grid-template-rows: 6rem auto auto 6rem;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 4rem 1rem;

		.picture {
			grid-area: 1 / 1 / 5 / 2;
		}

		.para-1 {
			grid-area: 2 / 2 / 3 / 3;
		}

		.para-2 {
			grid-area: 3 / 2 / 4 / 3;
		}
	}

	img {
		margin-right: auto;
		margin-left: auto;

		@include respond-to("medium") {
			max-width: 180%;
			transform: translateX(-15rem);
		}

		@include respond-to("large") {
			max-width: 200%;
			transform: translateX(-25rem);
		}
	}
}
