/* 	Navigation
   	================================================== */

.outer-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;

	> burger-menu {
		flex-grow: 1;
	}
}

.logo {
	position: relative;
	z-index: 10;
}

.navigation > ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.login {
		margin-left: auto;

		a {
			display: block;
		}
	}
}

.burger-menu[enabled="true"] .navigation .login {
	margin-left: 0;
}

/* Burger menu
	 ================================================== */

/* Hamburger button creation */
.burger-menu__trigger {
	display: none;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
	position: absolute;
	display: block;
	left: 50%;
	width: 24px;
	height: 3px;
	border: 1px solid var(--clr-neutral-100);
	border-radius: 3px;
	margin-left: -12px;
	background: var(--clr-neutral-100);
	transition: transform 200ms ease-in-out;
}

.burger-menu__bar {
	top: 50%;
	transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
	content: "";
}

.burger-menu__bar::before {
	top: -8px;
}

.burger-menu__bar::after {
	bottom: -8px;
}

// Hamburger button size and positioning
.burger-menu[enabled="true"] .burger-menu__trigger {
	position: relative;
	display: block;
	z-index: 10;
	width: 2rem;
	height: 2rem;
	border: none;
	background: transparent;
	cursor: pointer;
	left: calc(100% - 2rem);
}

// Hamburger menu panel size and positioning
.burger-menu[enabled="true"] .burger-menu__panel {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding-top: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

// Hamburger menu panel contents size and positioning
.burger-menu[enabled="true"] .navigation .clicky-menu {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 0.5em;
	margin-top: 4rem;
	background-color: var(--clr-neutral-100);
	box-shadow: 0 20px 40px var(--clr-neutral-400);
	gap: 1rem;

	@include respond-to("medium") {
		margin-top: 6rem;
	}
}

// Hamburger menu panel transitions
.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 200ms ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
	opacity: 0;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
	opacity: 1;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
	border-color: transparent;
	background: transparent;
	transform: rotate(180deg);
}
