:root {
	/* Primary */
	--clr-primary-100: hsl(176, 50%, 47%);
	--clr-primary-200: hsl(176, 72%, 28%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(0, 0%, 48%);
	--clr-neutral-300: hsl(0, 0%, 0%);

	/* Spacing */
	--spacer: 1em;

	/* Utopia */
	--step-0: clamp(1rem, 1rem + 0, 1rem);
	--step-1: clamp(1.2rem, 1.19rem + 0.07vw, 1.25rem);
	--step-2: clamp(1.44rem, 1.41rem + 0.18vw, 1.56rem);
	--step-3: clamp(1.73rem, 1.66rem + 0.32vw, 1.95rem);
	--step-4: clamp(2.07rem, 1.97rem + 0.53vw, 2.44rem);

	/* font-family */
	--ff-body: "Commissioner", sans-serif;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--step-0);
	font-weight: 400;
	line-height: 1.8;
	text-align: center;
	color: var(--clr-neutral-200);
}

a {
	text-decoration: none;
}

:focus-visible {
	outline: 3px dotted var(--clr-primary-200);
	outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

@media only screen and (min-width: 40em) {
	body {
		text-align: left;
	}
}

body:last-child {
	margin-bottom: 6rem;
}

/* 	Typography
   	================================================== */

h1,
h2,
h3 {
	color: var(--clr-neutral-300);
}

h1 {
	font-size: var(--step-3);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

.large {
	font-size: var(--step-4);
	color: var(--clr-neutral-300);
}

/* ==================================================
   Utilities
	================================================== */

.center-content {
	display: grid;
	grid-template-rows: repeat(3, min-content);
	grid-template-columns: minmax(0, 1fr) minmax(0, 1440px) minmax(0, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 2);
}

.flow-content > * + * {
	margin-top: 1em;
}

.flex {
	display: flex;

	/* flex-direction: column; */
	gap: var(--spacer);
}

@media only screen and (min-width: 40em) {
	.flex {
		flex-direction: row;
	}
}

.container-major {
	padding-right: clamp(2rem, 2.5%, 3rem);
	padding-left: clamp(2rem, 2.5%, 3rem);
}

.container-minor {
	padding-right: clamp(1rem, 2.5%, 2rem);
	padding-left: clamp(1rem, 2.5%, 2rem);
}

@media only screen and (min-width: 40em) {
	.container-major {
		padding-right: clamp(5rem, 5%, 10rem);
		padding-left: clamp(5rem, 5%, 10rem);
	}

	.container-minor {
		padding-right: clamp(2rem, 5%, 4rem);
		padding-left: clamp(2rem, 5%, 4rem);
	}
}

.cta {
	background-color: var(--clr-primary-100);
	color: var(--clr-neutral-100);
	border: none;
	padding: 0.5em 1.5em;
	border-radius: 2em;
	font-weight: 500;
	cursor: pointer;
}

.cta:hover,
.cta:focus-visible {
	background-color: var(--clr-primary-200);
}

.pledge {
	color: var(--clr-primary-100);
	font-weight: 500;
}

/* 	Navigation
   	================================================== */

.site-head__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacer);
}

.site-head__brand {
	width: 12rem;
}

.navigation ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: calc(var(--spacer) * 2);
}

.burger-menu__trigger {
	display: none;
}

.burger-menu__trigger:focus-visible {
	outline: 3px dotted var(--clr-neutral-100);
	outline-offset: 0.25rem;
}

.burger-menu__trigger:focus:not(:focus-visible) {
	outline: transparent;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
	position: absolute;
	display: block;
	left: 50%;
	width: 24px;
	height: 3px;
	border: 1px solid var(--clr-neutral-100);
	border-radius: 3px;
	margin-left: -12px;
	background: var(--clr-neutral-100);
	transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
	top: 50%;
	transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
	content: "";
}

.burger-menu__bar::before {
	top: -8px;
}

.burger-menu__bar::after {
	bottom: -8px;
}

.burger-menu[enabled="true"] .burger-menu__trigger {
	position: relative;
	display: block;
	z-index: 100;
	width: 2rem;
	height: 2rem; /* Nice big tap target */
	border: none;
	background: transparent;
	cursor: pointer;
}

.burger-menu[enabled="true"] .burger-menu__panel {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	padding-top: 3rem;
	padding-right: clamp(2rem, 2.5%, 3rem);
	padding-left: clamp(2rem, 2.5%, 3rem);
	overflow-y: auto;
	background: var(--clr-neutral-400);
	-webkit-overflow-scrolling: touch;
}

.burger-menu[enabled="true"] .navigation ul {
	display: block;
	margin-top: 7rem;
	text-align: left;
}

.burger-menu[enabled="true"] .navigation ul > * + * {
	margin-top: 0.5rem;
}

.burger-menu[enabled="true"] .navigation li {
	width: max-content;
	font-family: var(--ff-headings);
	font-size: var(--step-3);
	font-weight: 300;
	text-transform: uppercase;
}

.burger-menu[enabled="true"] .navigation li a {
	display: block;
	line-height: 1.2;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 200ms ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
	opacity: 0;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
	opacity: 1;
	transform: translateY(0);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
	border-color: transparent;
	background: transparent;
	transform: rotate(180deg);
}

header {
	background-color: var(--clr-neutral-200);
}

main {
	max-width: 50rem;
	margin: 0 auto;
}
