:root {
	/* Primary */
	--clr-primary-100: hsl(176, 50%, 47%);
	--clr-primary-200: hsl(176, 72%, 28%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(0, 0%, 48%);
	--clr-neutral-300: hsl(0, 0%, 0%);

	/* Spacing */
	--spacer: 1em;

	/* Utopia */
	--step-0: clamp(1rem, 1rem + 0, 1rem);
	--step-1: clamp(1.2rem, 1.19rem + 0.07vw, 1.25rem);
	--step-2: clamp(1.44rem, 1.41rem + 0.18vw, 1.56rem);
	--step-3: clamp(1.73rem, 1.66rem + 0.32vw, 1.95rem);
	--step-4: clamp(2.07rem, 1.97rem + 0.53vw, 2.44rem);

	/* font-family */
	--ff-body: "Commissioner", sans-serif;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--step-0);
	font-weight: 400;
	line-height: 1.8;
	color: var(--clr-neutral-200);
}

a {
	font-weight: 500;
	text-decoration: none;
	color: var(--clr-neutral-100);
}

a:hover {
	text-decoration: underline;
}

:focus-visible {
	outline: 3px dotted var(--clr-primary-200);
	outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

body:last-child {
	margin-bottom: 6rem;
}

/* 	Typography
   	================================================== */

h1,
h2,
h3 {
	color: var(--clr-neutral-300);
}

h1 {
	font-size: var(--step-3);
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

.large {
	font-size: var(--step-4);
	font-weight: 800;
	color: var(--clr-neutral-300);
}

/* ==================================================
   Utilities
	================================================== */

.center-content {
	display: grid;
	grid-template-rows: repeat(3, min-content);
	grid-template-columns: minmax(0, 1fr) minmax(375px, 1440px) minmax(0, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 2);
}

.flow-content > * + * {
	margin-top: 1em;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacer);
}

.container-major {
	padding-right: clamp(2rem, 2.5%, 3rem);
	padding-left: clamp(2rem, 2.5%, 3rem);
}

.container-minor {
	padding-right: clamp(1.5rem, 2.5%, 2.5rem);
	padding-left: clamp(1.5rem, 2.5%, 2.5rem);
}

@media only screen and (min-width: 38em) {
	.container-major {
		padding-right: clamp(5rem, 5%, 10rem);
		padding-left: clamp(5rem, 5%, 10rem);
	}

	.container-minor {
		padding-right: clamp(2rem, 5%, 4rem);
		padding-left: clamp(2rem, 5%, 4rem);
	}
}

.box {
	padding: clamp(2rem, 5%, 4rem);
	border-radius: 1em;
	box-shadow: rgba(163, 163, 163, 0.25) 0 5px 20px -5px;
}

.cta {
	width: max-content;
	padding: 0.5em 1.5em;
	border: none;
	border-radius: 2em;
	background-color: var(--clr-primary-100);
	transition: background-color 200ms;
	font-weight: 500;
	color: var(--clr-neutral-100);
	cursor: pointer;
}

.cta:hover,
.cta:focus-visible {
	background-color: var(--clr-primary-200);
}

.pledge {
	font-weight: 500;
	color: var(--clr-primary-100);
}

/* 	Navigation
   	================================================== */

.site-head__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	gap: var(--spacer);
}

.site-head__brand {
	position: relative;
	z-index: 10;
	width: 12rem;
}

.navigation ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: calc(var(--spacer) * 2);
}

.burger-menu__trigger {
	display: none;
}

.burger-menu__trigger:focus-visible {
	outline: 3px dotted var(--clr-neutral-100);
	outline-offset: 0.25rem;
}

.burger-menu__trigger:focus:not(:focus-visible) {
	outline: transparent;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
	position: absolute;
	display: block;
	left: 50%;
	width: 24px;
	height: 3px;
	border: 1px solid var(--clr-neutral-100);
	border-radius: 3px;
	margin-left: -12px;
	background: var(--clr-neutral-100);
	transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
	top: 50%;
	transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
	content: "";
}

.burger-menu__bar::before {
	top: -8px;
}

.burger-menu__bar::after {
	bottom: -8px;
}

.burger-menu[enabled="true"] .burger-menu__trigger {
	position: relative;
	display: block;
	z-index: 10;
	width: 2rem;
	height: 2rem; /* Nice big tap target */
	border: none;
	background: transparent;
	cursor: pointer;
}

.burger-menu[enabled="true"] .burger-menu__panel {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding-top: 3rem;
	padding-right: clamp(2rem, 2.5%, 3rem);
	padding-left: clamp(2rem, 2.5%, 3rem);
	overflow-y: auto;
	background: linear-gradient(to bottom, hsla(0, 0%, 0%, 1), hsla(0, 0%, 0%, 0));
	-webkit-overflow-scrolling: touch;
}

.burger-menu[enabled="true"] .navigation ul {
	display: block;
	padding: clamp(2rem, 5%, 4rem);
	border-radius: 2em;
	margin-top: 4rem;
	background-color: var(--clr-neutral-100);
	text-align: left;
}

.burger-menu[enabled="true"] .navigation ul > * + * {
	margin-top: 1rem;
}

.burger-menu[enabled="true"] .navigation li {
	width: max-content;
	font-size: var(--step-2);
}

.burger-menu[enabled="true"] .navigation li a {
	display: block;
	color: var(--clr-neutral-300);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 200ms ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
	opacity: 0;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
	opacity: 1;
	transform: translateY(0);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
	border-color: transparent;
	background: transparent;
	transform: rotate(180deg);
}

/* ==================================================
	 Blocks
	 ================================================== */

/* Header
	 ================================================== */

header {
	padding-bottom: 17rem;

	/* prettier-ignore */
	background:
		linear-gradient(hsla(200, 16%, 18%, 0.4), hsla(200, 16%, 18%, 0)),
		center/cover url("../images/image-hero-mobile.jpg") var(--clr-primary-200);
}

@media only screen and (min-width: 38em) {
	header {
		/* prettier-ignore */
		background:
			linear-gradient(hsla(200, 16%, 18%, 0.4), hsla(200, 16%, 18%, 0)),
			center/cover url("../images/image-hero-desktop.jpg") var(--clr-primary-200);
	}
}

/* Main
	 ================================================== */

main > * {
	background-color: var(--clr-neutral-100);
}

main {
	max-width: 60rem;
	margin: -7rem auto 3rem;
}

/* Bookmark
   ------------------- */

main .bookmark {
	position: relative;
	padding-left: 4rem;
	background-color: hsla(176, 50%, 47%, 0.1);
	font-weight: 800;
	text-align: right;
	color: var(--clr-primary-200);
}

main .bookmark:hover {
	background-color: hsla(0, 0%, 48%, 0.1);
	color: var(--clr-neutral-200);
}

main .bookmark:focus-within {
	outline: 3px dotted var(--clr-primary-200);
	outline-offset: 0.5rem;
	background-color: hsla(0, 0%, 48%, 0.1);
	color: var(--clr-neutral-200);
}

main .bookmark-icon {
	position: absolute;
	top: -8px;
	left: 0;
}

main .bookmark-icon circle {
	fill: var(--clr-primary-200);
}

main .bookmark-icon path {
	fill: var(--clr-neutral-100);
}

main .bookmark:focus-within circle,
main .bookmark:hover circle {
	fill: var(--clr-neutral-200);
}

main .bookmark:focus-within path,
main .bookmark:hover path {
	fill: #a9a9a9;
}

main .bookmark input {
	position: absolute;
	display: block;
	top: 0;
	left: 1rem;
	opacity: 0;
	width: 2rem;
	height: 2rem;
}

/* Intro
	 ================================================== */

.intro > img {
	margin: -4rem auto 0;
}

.intro {
	text-align: center;
}

.intro .flex {
	margin-top: 2rem;
}

/* Stats */

.stats > .flex {
	position: relative;
	flex-direction: column;
	text-align: center;
	gap: calc(var(--spacer) * 1);
}

.stats > p {
	flex-basis: 100%;
}

/* Progress bar */

.progress::before {
	content: "";
	position: absolute;
	width: var(--width-bar);
	height: 100%;
	border-radius: 1em;
	background-color: var(--clr-primary-100);
}

.progress {
	--width-bar: 50%;

	position: relative;
	width: 100%;
	height: 0.5em;
	border-radius: 1em;

	margin-top: 2rem;
	background-color: hsla(0, 0%, 48%, 0.25);
	transition: 0.1s ease;
}

@media only screen and (min-width: 38em) {
	.stats > .flex {
		flex-direction: row;
		align-items: center;
		text-align: left;
		gap: calc(var(--spacer) * 2);
	}
}

/* Stands
	 ================================================== */

.stands > .box {
	border: 1px solid hsla(0, 0%, 48%, 0.25);
	box-shadow: none;
}

.stands .flex {
	flex-direction: column;
	align-items: flex-start;
	gap: calc(var(--spacer) * 0.5);
}

.stands p:last-of-type {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
}

@media only screen and (min-width: 38em) {
	.stands .flex {
		flex-direction: row;
		align-items: center;
	}
}

/* 	Modal
   	================================================== */

.dialog {
	background-color: rgba(51, 51, 51, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

.dialog__window {
	max-width: 50rem;
	margin: 14rem auto 0;
	background-color: var(--clr-neutral-100);
	padding: clamp(2rem, 2.5%, 3rem);
	border-radius: 1em;
}

/* Rewards
   ------------------- */

.reward {
	border: 1px solid hsla(0, 0%, 48%, 0.25);
	box-shadow: none;
}

.reward:focus-within {
	border-color: var(--clr-primary-200);
}

.reward .pledge {
	font-weight: 700;
	margin-right: auto;
}

.reward label {
	color: var(--clr-neutral-300);
	font-weight: 700;
	gap: 1em;
}

.reward.box span:last-of-type {
	color: var(--clr-neutral-300);
	font-weight: 700;
	margin-right: 0.25em;
}

/* Reward commitment */

.commit {
	/* display: none; */
	margin-top: 2rem;
	padding-top: 1.5rem;
	border-top: 1px solid var(--clr-neutral-200);
	justify-content: flex-end;
}

.commit label {
	margin-right: auto;
	color: var(--clr-neutral-200);
	font-weight: 400;
}

.commit div.cta {
	border: 1px solid var(--clr-primary-200);
	border-radius: 2rem;
	max-width: 6.5rem;
	padding: 0.5em 1.5em;
	cursor: pointer;
	display: flex;
	gap: 0.5em;
	background-color: transparent;
	color: var(--clr-neutral-200);
	align-items: baseline;
}

.commit input {
	border: none;
	width: 3ch;
	background: transparent;
}

/* Expand section */

.reward input:first-of-type:checked ~ .commit {
	display: flex;
	animation: sweep 0.2s;
	will-change: opacity, transform;
}

@keyframes sweep {
	0% {
		opacity: 0;
		transform: translateY(-1em);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
