// FIX icon proportions on feature section
// TODO second section filter
// TODO background images - grey blocks
// FIX positioning on images at mobile viewport

@import "reset";

/* ==================================================
	Global Styles
	================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--step-0);
	line-height: 1.5;
	color: var(--clr-secondary-200);
}

h1,
h2,
h3 {
	color: var(--clr-secondary-100);
	text-transform: uppercase;
	line-height: 1;
}

h3 {
	font-size: var(--step-1);
}

h2 {
	font-size: var(--step-2);
}

h1 {
	font-size: var(--step-3);
}

img[src$=".jpg"] {
	border-radius: 1em;
}

/* ==================================================
	Utilities
	================================================== */

@import "utilities/skip-link";
@import "utilities/center-content";
@import "utilities/container";
@import "utilities/flow-section";
@import "utilities/flow-content";
@import "utilities/visually-hidden";
@import "utilities/outline";
@import "utilities/split";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/cta";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/wireless";
@import "blocks/features";
@import "blocks/footer";
