/* =============================
   Global styles
   ============================= */

:root {
	/* Colors */
	--darkMagenta: hsl(300, 43%, 22%);
	--softPink: hsl(333, 80%, 67%);
	--darkGrayMagenta: hsl(303, 10%, 53%);
	--lightGrayMagenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);

	/* Typography */
	font-size: 15px;
}

body {
	background:
		top left url("images/bg-pattern-top-desktop.svg") no-repeat,
		bottom right url("images/bg-pattern-bottom-desktop.svg") no-repeat;
	color: var(--darkMagenta);
	display: grid;
	font-family: "Spartan", sans-serif;
	place-items: center;
	text-align: center;
}

/* Layout
   ============================= */

.container {
	display: grid;
	gap: 2em;
	margin-top: 4em;
	max-width: 1450px;
	width: 75%;
}

.container > * {
	display: flex;
	flex-direction: column;
}

/* =============================
   Mobile styles
   ============================= */

/* Header section
   ============================= */

h1 {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: -1px;
	margin-bottom: 1em;
	text-align: center;
}

h1 ~ p {
	line-height: 1.5;
}

/* Rating section
   ============================= */

.rating {
	background-color: var(--lightGrayMagenta);
	border-radius: 5px;
	margin-bottom: 1em;
	padding: 0.75em 0.5em;
}

.rating:last-of-type {
	margin-bottom: 0;
}

.stars img {
	display: inline-block;
}

.rating p {
	font-size: 0.85rem;
	font-weight: 600;
	margin-top: 0.5em;
}

/* Review section
   ============================= */

.review {
	background-color: var(--darkMagenta);
	border-radius: 10px;
	margin-bottom: 1em;
	padding: 2em;
}

.review p {
	color: #fff;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 2;
	text-align: left;
}

/* Avatars
   ------------- */

.avatar {
	align-items: center;
	display: flex;
	margin-bottom: 2em;
}

.avatar img {
	border-radius: 50%;
	margin-right: 1em;
}

.avatar p {
	font-weight: 600;
	margin: 0;
}

.avatar p:last-of-type {
	color: var(--softPink);
}

/* =============================
   Frontend Mentor attribution
   ============================= */

.attribution {
	font-size: 11px;
	margin-top: 2em;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* =============================
   Media queries - tablet and desktop
   ============================= */

@media screen and (min-width: 950px) {
	.container {
		grid-template-columns: 1fr 1.25fr;
		grid-template-rows: auto auto;
	}

	/* Heading section
	   ============================= */

	.header {
		margin-right: 4em;
		text-align: left;
	}

	h1 {
		font-size: 3em;
		margin-bottom: 0.25em;
		text-align: left;
	}

	/* Rating section
	   ============================= */

	.rating {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 1.25em 0.25em;
		width: 75%;
	}

	.rating:nth-last-of-type(2) {
		align-self: center;
	}

	.rating:last-of-type {
		align-self: flex-end;
	}

	.rating p {
		margin-left: 1.25em;
		margin-top: 0;
	}

	/* Review section
	   ============================= */

	.reviews {
		flex-direction: row;
		grid-area: 2 / 1/ -1 / -1;
		margin-top: 3em;
	}

	.review {
		align-self: flex-start;
		margin-bottom: 0;
		margin-right: 2em;
		min-height: 85%;
		padding: 1em;
	}

	.review:nth-last-of-type(2) {
		margin-top: 2em;
	}

	.review:last-of-type {
		margin-right: 0;
		margin-top: 4em;
	}
}
