:root {
	/* Primary - Text */
	--clr-primary-000: hsl(144, 40, 93%);
	--clr-primary-100: hsl(276, 100%, 81%);
	--clr-primary-200: hsl(276, 55%, 52%);
	--clr-primary-300: hsl(271, 36%, 24%);

	/* Secondary */
	--clr-secondary-100: hsl(277, 39%, 93%);
	--clr-secondary-200: hsl(271, 15%, 43%);

	/* Neutral */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(150, 20%, 96%);
	--clr-neutral-300: hsl(206, 6%, 79%);

	/* Gradients */
	--clr-gradient-100: hsl(293, 100%, 63%);
	--clr-gradient-200: hsl(264, 100%, 61%);

	/* spacing */
	--spacer: 0.5rem;

	/* font size */
	--fs-100: 0.422rem;
	--fs-200: 0.563rem;
	--fs-300: 0.75rem;
	--fs-400: 1rem;
	--fs-500: 1.33rem;
	--fs-600: 1.77rem;
	--fs-700: 2.369rem;
	--fs-800: 3.157rem;
	--fs-900: 4.209rem;
}

/* 	==================================================
		Global Styles
		================================================== */

body {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	line-height: 1.8;
	color: hsl(271, 6%, 64%);
}

main {
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	margin-top: 5em;
	margin-bottom: 5em;
	text-align: center;
}

main::before {
	content: "";
	position: absolute;
	top: 0;
	left: -20%;
	z-index: 1;
	width: 27em;
	height: 40vh;
	border-radius: 0 0 25em 25em;
	background: linear-gradient(180deg, var(--clr-gradient-100), var(--clr-gradient-200));
}

main::after {
	content: "";
	position: absolute;
	right: -20%;
	bottom: 0;
	width: 27em;
	height: 40vh;
	border-radius: 25em 25em 0 0;
	background: hsla(278, 39%, 97%, 1);
}

@media only screen and (min-width: 75em) {
	main {
		flex-direction: row-reverse;
		text-align: left;
	}

	main::before {
		left: -20%;
		width: 45em;
		height: 80vh;
		border-radius: 0 0 22.5em 22.5em;
	}

	main::after {
		right: -20%;
		width: 45em;
		height: 80vh;
		border-radius: 22.5em 22.5em 0 0;
	}
}

/* 	==================================================
	Utilities
	================================================== */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1440px) minmax(1rem, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.flow > * + * {
	margin-top: var(--spacer, 1em);
}

.flex {
	display: flex;

	gap: var(--spacer);
}

/* prettier-ignore */
.bg-gradient {
	background:
		linear-gradient(
			var(--gradient-angle, 45deg),
			var(--clr-gradient-100),
			var(--clr-gradient-200)
		);
}

/* 	==================================================
	Blocks
	================================================== */

/* 	Intro
   	================================================== */

.intro {
	z-index: 10;
	max-width: 60ch;
	margin: 0 auto;
	margin-top: 6em;
}

.intro h1 {
	font-size: var(--fs-800);
	font-weight: 500;
	color: var(--clr-primary-300);
}

.intro p {
	margin-top: 1.5em;
	font-size: var(--fs-500);
}

/* 	Phone
   	================================================== */
.phone {
	position: relative;
	z-index: 10;
	max-width: 27em;
	padding: 1em;
	border: 1em solid var(--clr-neutral-100);
	border-radius: 2em;
	box-shadow: 0 0.5em 3em hsla(271, 36%, 24%, 0.25);
	overflow: hidden;
	background-color: hsl(269, 21%, 96%);
	text-align: left;
}

.phone .chat::before {
	content: "";
	position: absolute;
	top: -1em;
	left: 50%;
	width: 50%;
	height: 3em;
	border-radius: 0 0 1.5em 1.5em;
	background-color: white;
	transform: translateX(-50%);
}

/* 	Profile
    ------------------- */
.phone .profile {
	--gradient-angle: -45deg;

	position: relative;
	top: -1em;
	left: -1em;
	align-items: center;
	width: calc(1em + 100% + 1em);
	padding: 3em 1em 1em;
	line-height: 1;
	color: white;
}

.phone .profile img {
	border: 2px solid hsl(0, 0%, 100%);
	border-radius: 50%;
}

.phone .profile h2 {
	font-size: var(--fs-400);
	font-weight: 500;
	letter-spacing: 0.5px;
}

.phone .profile p {
	margin-top: 0.5em;
	font-size: var(--fs-300);
	color: hsla(0, 0%, 100%, 0.5);
}

.phone .profile::before {
	content: "<";
	font-weight: 700;
}

.phone .profile::after {
	content: "...";
	margin-left: auto;
	transform: rotate(90deg);
	font-size: var(--fs-600);
}

/* 	Messages
    ------------------- */
.phone .chat {
	flex-direction: column;
	line-height: 1.5;
}

.phone .message.sent {
	--bg: var(--clr-secondary-100);
	--fg: var(--clr-primary-200);
}

.phone .message.received {
	--align: flex-end;
	--bg: var(--clr-neutral-100);
	--fg: var(--clr-primary-300);

	border-radius: 1em 1em 0.25em 1em;
}

.phone .message.price {
	--fg: var(--clr-neutral-100);

	display: inline-flex;
	align-items: center;
	min-width: 75%;
}

.phone .message.price span {
	margin-right: 0.75em;
	margin-left: auto;
	font-size: var(--fs-500);
	font-weight: 700;
}

.phone .message.price::before {
	content: "";
	width: 2em;
	height: 2em;
	border: 1px solid hsla(0, 0%, 100%, 0.5);
	border-radius: 50%;
	margin-right: 1em;
}

.phone .message {
	align-self: var(--align, flex-start);
	max-width: 60%;
	padding: 1em;
	border-radius: 1em 1em 1em 0.25em;
	background-color: var(--bg, inherit);
	font-size: var(--fs-300);
	color: var(--fg, var(--clr-primary-400));
}

/* 	Image messages
    ------------------- */

.phone .message.images {
	--align: flex-end;

	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.phone .message img {
	border-radius: 1em;
}

/* 	Message input
    ------------------- */
.phone form {
	position: relative;
	align-items: center;
	margin-top: 1em;
}

.phone input {
	width: 100%;
	padding: 1em 2em;
	border: none;
	border-radius: 2em;
	font-size: var(--fs-400);
}

.phone input::placeholder {
	color: var(--clr-neutral-300);
}

.phone button {
	position: absolute;
	top: 50%;
	right: 0.5em;
	width: 1.8em;
	height: 1.8em;
	border: none;
	border-radius: 2em;
	background-color: black;
	transform: translateY(-50%);
	font-size: var(--fs-500);
	font-weight: 700;
	color: white;
}
