:root {
	/* colors */

	/* Primary - Text */
	--clr-primary-100: hsl(276, 100%, 81%);
	--clr-primary-200: hsl(276, 55%, 52%);
	--clr-primary-300: hsl(276, 100%, 81%);
	--clr-primary-400: hsl(271, 36%, 24%);

	/* Primary - Gradients */
	--clr-primary-grad-100: hsl(293, 100%, 63%);
	--clr-primary-grad-200: hsl(264, 100%, 61%);

	/* Secondary */
	--clr-secondary-100: hsl(0, 0%, 100%);
	--clr-secondary-200: hsl(206, 6%, 79%);
	--clr-secondary-300: hsl(271, 15%, 43%);

	/* spacing */
	--spacer: 2rem;

	/* font weight */
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;
	--fw-900: 900;

	/* font size */
	--fs-100: 0.422rem;
	--fs-200: 0.563rem;
	--fs-300: 0.75rem;
	--fs-400: 1rem;
	--fs-500: 1.33rem;
	--fs-600: 1.77rem;
	--fs-700: 2.369rem;
	--fs-800: 3.157rem;
	--fs-900: 4.209rem;
}

/* 	==================================================
		Global Styles
		================================================== */

body {
	font-family: "Rubik", sans-serif;
	line-height: 2;
	font-weight: 400;
	color: var(--clr-secondary-200);
}

main {
	margin-top: 15em;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacer);
}

h1 {
	font-size: var(--fs-700);
	color: var(--clr-primary-400);
}

/* 	==================================================
		Utilities
		================================================== */

.center-content {
	display: grid;
	grid-template-columns: minmax(1em, 1fr) minmax(min-content, 1000px) minmax(1em, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.flow > * + * {
	margin-top: var(--spacer, 1em);
}

.flex {
	display: flex;
}

/* 	==================================================
		Blocks
		================================================== */

/* 	Heading
   	================================================== */

.heading {
	max-width: 50ch;
}

.headnig p {
	font-weight: 700;
}

/* 	Phone
   	================================================== */
.phone {
	max-width: 25em;
}
