/* =============================
   Global Settings
   ============================= */

:root {
	/* Colors */
	--darkMagenta: hsl(300, 43%, 22%);
	--softPink: hsl(333, 80%, 67%);
	--darkGrayMagenta: hsl(303, 10%, 53%);
	--lightGrayMagenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);

	/* Typography */
	font-size: 15px;
}

body {
	display: grid;
	color: var(--darkMagenta);
	font-family: "Spartan", sans-serif;
	place-items: center;
	text-align: center;
}

/* Layout
   ============================= */

.container {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 1450;
	margin-top: 4em;
}

.container > * {
	display: flex;
	flex: 1 0 350px;
	flex-wrap: wrap;
	padding: 2em 1em;
	gap: 1em;
}

/* =============================
Header
============================= */

.header {
	flex-direction: column;
}

h1 {
	margin-bottom: 2em;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: -1px;
	text-align: center;
}

/* =============================
   Ratings
   ============================= */

.ratings {
	flex-direction: column;
}

.rating {
	padding: 0.5em;
	border-radius: 5px;
	background-color: var(--lightGrayMagenta);
}

.rating img {
	display: inline-block;
}

.rating p {
	margin-top: 0.5em;
	font-size: 0.8rem;
	font-weight: 600;
}

/* =============================
   Reviews
   ============================= */

.review {
	flex: 1 1 200px;
	min-width: 200px;
	padding: 2em;
	border-radius: 10px;
	background-color: var(--darkMagenta);
}

.review p {
	color: #fff;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 2;
	text-align: left;
}

/* Avatars
   ============================= */

.avatar {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.avatar img {
	margin-right: 1em;
	border-radius: 50%;
}

.avatar p {
	margin: 0;
	font-weight: 600;
}

.avatar p:last-of-type {
	color: var(--softPink);
}

/* =============================
   Media queries
   ============================= */

@media screen and (min-width: 700px) {
	.header {
		justify-content: flex-start;
		max-width: 60%;
		margin-right: 4em;
		text-align: left;
	}

	h1 {
		margin-bottom: 0;
		font-size: 2.5rem;
		text-align: left;
	}

	.reviews {
		min-width: 100%;
	}
}

/* =============================
   Frontend Mentor attribution
   ============================= */

.attribution {
	margin-top: 5em;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
