@font-face {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	src: url("../fonts/barlow/barlow-700.ttf") format("truetype");
	font-display: optional;
}

@font-face {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	src: url("../fonts/barlow/barlow-regular.ttf") format("truetype");
	font-display: optional;
}

@font-face {
	font-family: "Fraunces", serif;
	font-weight: 900;
	src: url("../fonts/fraunces/fraunces-900.ttf") format("truetype");
	font-display: optional;
}

:root {
	/* Primary - Text */
	--clr-primary-100: hsl(179, 44%, 61%);
	--clr-primary-200: hsl(179, 81%, 29%);

	/* Secondary */
	--clr-secondary-100: hsl(43, 78%, 98%);
	--clr-secondary-200: hsl(25, 94%, 86%);

	/* Neutral */
	--clr-neutral-000: hsl(0, 0%, 100%);
	--clr-neutral-100: hsl(41, 29%, 94%);
	--clr-neutral-200: hsl(27, 11%, 87%);
	--clr-neutral-300: hsl(216, 5%, 54%);
	--clr-neutral-400: hsl(215, 19%, 25%);

	/* Spacing */
	--spacer: 1.5rem;
	--lh-small: 1.3;
	--lh-regular: 1.8;

	/* Font size */
	--fs-300: 0.75rem;
	--fs-400: 1rem;
	--fs-500: 1.5rem;
	--fs-600: 2rem;
	--fs-700: 2.5rem;
	--fs-800: 4.5rem;
	--fs-900: 9.375rem;
}

/* ==================================================
	 Global Styles
	 ================================================== */
body {
	background-color: var(--clr-neutral-000);
	font-family: "Barlow", sans-serif;
	font-size: var(--fs-400);
	line-height: var(--lh-regular);
	letter-spacing: 0.5px;
	text-align: center;
	color: var(--clr-neutral-300);
}

section {
	padding-top: calc(var(--spacer) * 3);
	padding-bottom: calc(var(--spacer) * 3);
	border-radius: 1em;
}

header {
	margin-top: 2.5em;
}

footer {
	padding-top: calc(var(--spacer) * 3);
	padding-bottom: calc(var(--spacer) * 3);
	margin-bottom: 2.5em;
}

nav {
	font-size: var(--fs-300);
	line-height: var(--lh-small);
	letter-spacing: 1px;
	text-transform: uppercase;
}

li img {
	margin-right: auto;
	margin-left: auto;
}

a {
	font-weight: 700;
	text-decoration: none;
	color: inherit;
}

a:focus-visible {
	outline: transparent;
	box-shadow: 0 0 0 3px var(--clr-secondary-200);
	background-color: inherit;
}

a:focus:not(:focus-visible) {
	outline: transparent;
}

/* 	Typography
   	================================================== */

/* TODO Consider clamp for .title font size */
h1,
h2,
h3,
h4 {
	font-family: "Fraunces", serif;
	line-height: var(--lh-small);
	color: var(--clr-neutral-400);
}

h1 {
	font-size: var(--fs-700);
	color: var(--clr-neutral-000);
}

h2 {
	font-size: var(--fs-600);
}

h3 {
	font-size: var(--fs-500);
}

h4 {
	font-size: var(--fs-400);
}

.title {
	background-color: var(--clr-neutral-300);
	background-image: linear-gradient(to bottom, var(--clr-neutral-300) 0, var(--clr-neutral-000));
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 3.5rem;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 45em) {
	h1 {
		font-size: var(--fs-800);
	}

	h2 {
		font-size: var(--fs-700);
	}

	h3 {
		font-size: var(--fs-600);
	}

	h4 {
		font-size: var(--fs-500);
	}

	.title {
		margin-top: -1rem;
		margin-bottom: -3.5rem;
		font-size: 5.5rem;
	}
}

@media only screen and (min-width: 65em) {
	.title {
		font-size: 8.5rem;
		margin-bottom: -5rem;
	}
}

/* ==================================================
	 Utilities
	 ================================================== */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.container {
	padding-right: 2rem;
	padding-left: 2rem;
}

.flow-content > * + * {
	margin-top: var(--spacer, 1rem);
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 2);
}

.flex {
	display: flex;
	flex-direction: column;
	gap: var(--spacer, 1em);
}

@media only screen and (min-width: 65em) {
	.flex {
		flex-direction: row;
	}
}

.light-accent {
	background-color: var(--clr-primary-200);
	color: var(--clr-neutral-000);
}

.dark-accent {
	background-color: var(--clr-neutral-400);
	color: var(--clr-neutral-000);
}

.dark-accent :is(h2, h3, p) {
	color: var(--clr-neutral-000);
}

/* 	Displayed list item
   	================================================== */
.display li {
	flex-basis: 100%;
	border-radius: 1em;
}

/* 	Pseudo button
   	================================================== */

.button {
	display: block;
	width: max-content;
	padding: 0.5em 1.25em;
	border-radius: 0.5em;
	margin-top: calc(var(--spacer) * 2);
	margin-right: auto;
	margin-bottom: calc(var(--spacer) * 2);
	margin-left: auto;
	font-family: "Fraunces", serif;
	font-size: var(--fs-500);
}

.button:hover {
	background-color: var(--clr-primary-100);
}

.button:focus-visible {
	outline: transparent;
	box-shadow: 0 0 0 3px var(--clr-secondary-200);
	background-color: var(--clr-primary-100);
}

.button:focus:not(:focus-visible) {
	outline: transparent;
}

@media only screen and (min-width: 45em) {
	.button {
		margin-left: 0;
	}
}

/* 	==================================================
		Blocks
		================================================== */

/* 	Hero
   	================================================== */

.hero {
	padding-top: 5em;
	padding-bottom: 5em;
	margin-top: 2.5em;
	background-color: var(--clr-neutral-400);
	background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

@media only screen and (min-width: 45em) {
	.hero {
		padding-right: 4em;
		padding-left: 4em;
		background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
		text-align: left;
	}

	.hero :is(h1, p) {
		max-width: 60%;
	}
}

@media only screen and (min-width: 65em) {
	.hero {
		background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
	}

	.hero :is(h1, p) {
		max-width: 50%;
	}
}

/* 	Navigation
   	================================================== */

header .nav {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.desktop-nav {
	display: none;
	margin: 0;
}

.desktop-nav a:hover {
	color: var(--clr-neutral-400);
}

.desktop-nav a[aria-current] {
	color: var(--clr-neutral-400);
}

@media only screen and (min-width: 45em) {
	.desktop-nav {
		display: flex;
		flex-direction: row;
	}

	.mobile-nav {
		display: none;
	}
}

/* 	Our Collection
   	================================================== */

@media only screen and (min-width: 45em) {
	.our-collection li {
		display: grid;
		grid-template-areas:
			"image title"
			"image title";
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 1fr;
		text-align: left;
		gap: 0 2rem;
	}

	.our-collection li img {
		grid-area: image;
	}
}

@media only screen and (min-width: 65em) {
	.our-collection li {
		display: block;
		text-align: center;
	}
}

/* 	Choose us
   	================================================== */

/* FIX Overflow content */
.choose-us li {
	padding-top: calc(var(--spacer) * 2);
	padding-bottom: calc(var(--spacer) * 2);
}

.choose-us li img {
	margin-top: var(--spacer);
	margin-bottom: calc(var(--spacer) * 2);
	padding-left: 2em;
	padding-right: 2em;
}

@media only screen and (min-width: 45em) {
	.choose-us h3 {
		margin-top: 0;
	}

	.choose-us li {
		display: grid;
		grid-template-areas:
			"image title"
			"image title";
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
		text-align: left;
		gap: 0 2rem;
	}

	.choose-us li img {
		grid-area: image;
		align-self: center;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 65em) {
	.choose-us h3 {
		margin-top: var(--spacer);
	}

	.choose-us li {
		display: block;
		text-align: center;
	}
}

/* 	How it works
   	================================================== */

.how-works h2 {
	font-size: var(--fs-500);
	color: var(--clr-neutral-300);
}

.how-works h3 {
	font-size: var(--fs-600);
}

.how-works .number {
	font-family: "fraunces", serif;
	font-size: var(--fs-800);
	font-weight: 900;
	color: var(--clr-secondary-200);
}

@media only screen and (min-width: 45em) {
	.how-works {
		text-align: left;
	}

	.how-works ol {
		flex-direction: row;
	}

	.how-works .button {
		margin-right: auto;
	}
}

/* 	Stages bar
   	================================================== */

.stages-container {
	display: none;
	position: relative;
	justify-content: space-between;
	width: 70%;
}

.stages-container::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--clr-secondary-200);
	transform: translateY(-50%);
}

.circle {
	z-index: 10;
	width: 3rem;
	height: 3rem;
	border: 3px solid var(--clr-primary-200);
	border-radius: 50%;
	background-color: var(--clr-neutral-000);
}

@media only screen and (min-width: 45em) {
	.stages-container {
		display: flex;
	}
}

/* 	Footer
   	================================================== */
footer .nav {
	align-items: center;
	justify-content: space-between;
	color: var(--clr-neutral-300);
	gap: calc(var(--spacer) * 2);
}

footer .nav a:hover {
	color: var(--clr-neutral-000);
}

footer .icons {
	flex-direction: row;
}

/* FIX hover color not working */
footer .icons img:hover {
	filter: invert(84%) sepia(15%) saturate(798%) hue-rotate(327deg) brightness(103%) contrast(103%);
}

.filter-white {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(132deg) brightness(100%) contrast(100%);
}

@media only screen and (min-width: 45em) {
	footer .nav ul {
		flex-direction: row;
	}
}
