@font-face {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	src: url("../fonts/barlow/barlow-700.ttf") format("truetype");
	font-display: optional;
}

@font-face {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	src: url("../fonts/barlow/barlow-regular.ttf") format("truetype");
	font-display: optional;
}

@font-face {
	font-family: "Fraunces", serif;
	font-weight: 900;
	src: url("../fonts/fraunces/fraunces-900.ttf") format("truetype");
	font-display: optional;
}

:root {
	/* Primary - Text */
	--clr-primary-100: hsl(179, 44%, 61%);
	--clr-primary-200: hsl(179, 81%, 29%);

	/* Secondary */
	--clr-secondary-100: hsl(43, 78%, 98%);
	--clr-secondary-200: hsl(25, 94%, 86%);

	/* Neutral */
	--clr-neutral-000: hsl(0, 0%, 100%);
	--clr-neutral-100: hsl(41, 29%, 94%);
	--clr-neutral-200: hsl(27, 11%, 87%);
	--clr-neutral-300: hsl(216, 5%, 54%);
	--clr-neutral-400: hsl(215, 19%, 25%);

	/* Spacing */
	--spacer: 1.5rem;
	--lh-small: 1.3;
	--lh-regular: 1.8;

	/* Font size */
	--fs-300: 0.75rem;
	--fs-400: 1rem;
	--fs-500: 1.5rem;
	--fs-600: 2rem;
	--fs-700: 2.5rem;
	--fs-800: 4.5rem;
	--fs-900: 9.375rem;
}

/* ==================================================
	 Global Styles
	 ================================================== */
body {
	background-color: var(--clr-neutral-000);
	font-family: "Barlow", sans-serif;
	font-size: var(--fs-400);
	line-height: var(--lh-regular);
	letter-spacing: 0.5px;
	color: var(--clr-neutral-300);
	text-align: center;
}

@media only screen and (min-width: 45em) {
	body .about {
		text-align: left;
	}
}

section {
	padding-top: calc(var(--spacer) * 3);
	padding-bottom: calc(var(--spacer) * 3);
	border-radius: 1em;
}

header {
	margin-top: 2.5em;
}

footer {
	padding-top: calc(var(--spacer) * 3);
	padding-bottom: calc(var(--spacer) * 3);
	margin-bottom: 2.5em;
}

nav {
	font-size: var(--fs-300);
	line-height: var(--lh-small);
	letter-spacing: 1px;
	text-transform: uppercase;
}

section img {
	border-radius: 1em;
	margin-right: auto;
	margin-left: auto;
}

a {
	font-weight: 700;
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

address a {
	font-weight: 400;
}

a:focus-visible {
	outline: transparent;
	box-shadow: 0 0 0 3px var(--clr-secondary-200);
	background-color: inherit;
}

a:focus:not(:focus-visible) {
	outline: transparent;
}

button {
	border: none;
	background-color: inherit;
}

/* 	Typography
   	================================================== */

h1,
h2,
h3,
h4 {
	font-family: "Fraunces", serif;
	line-height: var(--lh-small);
	color: var(--clr-neutral-400);
}

h1,
.h2 {
	font-size: var(--fs-700);
	color: var(--clr-neutral-000);
}

h2 {
	font-size: var(--fs-600);
}

h3 {
	font-size: var(--fs-500);
}

h4 {
	font-size: var(--fs-400);
}

.title {
	background-color: var(--clr-neutral-300);
	background-image: linear-gradient(to bottom, var(--clr-neutral-300) 0, var(--clr-neutral-000));
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 3.5rem;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 45em) {
	h1 {
		font-size: var(--fs-800);
	}

	h2 {
		font-size: var(--fs-700);
	}

	h3 {
		font-size: var(--fs-600);
	}

	h4 {
		font-size: var(--fs-500);
	}

	.title {
		margin-top: -1rem;
		margin-bottom: -3.5rem;
		font-size: 5.5rem;
	}
}

@media only screen and (min-width: 65em) {
	.title {
		font-size: 8.5rem;
		margin-bottom: -5rem;
	}
}

/* ==================================================
	 Utilities
	 ================================================== */

.center-content {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(0, 1440px) minmax(1rem, 1fr);
}

.center-content > * {
	grid-column: 2;
}

.container {
	padding-right: 2rem;
	padding-left: 2rem;
}

@media only screen and (min-width: 45em) {
	.container {
		padding-right: 4rem;
		padding-left: 4rem;
	}
}

@media only screen and (min-width: 65em) {
	.container {
		padding-right: 6rem;
		padding-left: 6rem;
	}
}

.flow-content > * + * {
	margin-top: var(--spacer, 1rem);
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 2);
}

.flex {
	display: flex;
	flex-direction: column;
	gap: var(--spacer, 1em);
}

@media only screen and (min-width: 65em) {
	.flex {
		flex-direction: row;
	}
}

.light-accent {
	background-color: var(--clr-primary-200);
	color: var(--clr-neutral-000);
}

.dark-accent {
	--clr-circle: var(--clr-neutral-400);

	background-color: var(--clr-neutral-400);
	color: var(--clr-neutral-000);
}

.dark-accent :is(h2, h3, p) {
	color: var(--clr-neutral-000);
}

.sub-heading {
	font-size: var(--fs-500);
	color: var(--clr-neutral-300);
}

/* 	Block list items
   	================================================== */
.blocks > * {
	flex-basis: 100%;
	border-radius: 1em;
}

.blocks li > img[src$=".svg"] {
	margin-top: calc(var(--spacer) * 2);
	margin-bottom: calc(var(--spacer) * 2);
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 45em) {
	.blocks > * {
		display: grid;
		grid-template-areas:
			"image title"
			"image text";
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 2fr;
		text-align: left;
		gap: 0 calc(var(--spacer) * 2);
	}

	.blocks > * :is(img, picture) {
		grid-area: image;
		align-self: center;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 65em) {
	.blocks > li {
		display: block;
		text-align: center;
	}
}

/* 	CTA
   	================================================== */

.cta {
	display: block;
	width: max-content;
	padding: 0.5em 1.25em;
	border-radius: 0.5em;
	margin-top: calc(var(--spacer) * 2);
	margin-right: auto;
	margin-left: auto;
	font-family: "Fraunces", serif;
	font-size: var(--fs-500);
}

.cta:hover {
	background-color: var(--clr-primary-100);
}

.cta:focus-visible {
	outline: transparent;
	box-shadow: 0 0 0 3px var(--clr-secondary-200);
	background-color: var(--clr-primary-100);
}

.cta:focus:not(:focus-visible) {
	outline: transparet;
}

@media only screen and (min-width: 45em) {
	.cta {
		margin-left: 0;
	}
}

/* 	==================================================
		Blocks
		================================================== */

/* 	Navigation
		================================================== */

header .nav {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.desktop-nav {
	display: none;
	margin: 0;
}

.desktop-nav a:hover {
	color: var(--clr-neutral-400);
}

.desktop-nav a[aria-current] {
	color: var(--clr-neutral-400);
}

@media only screen and (min-width: 45em) {
	.desktop-nav {
		display: flex;
		flex-direction: row;
	}

	.mobile-nav {
		display: none;
	}
}

/* 	Stages bar
		================================================== */

.stages-container {
	display: none;
	position: relative;
	justify-content: space-between;
	width: 70%;
}

.stages-container::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--clr-secondary-200);
	transform: translateY(-50%);
}

.circle {
	z-index: 10;
	width: 3rem;
	height: 3rem;
	border: 3px solid var(--clr-primary-200);
	border-radius: 50%;
	background-color: var(--clr-circle, var(--clr-neutral-000));
}

@media only screen and (min-width: 45em) {
	.stages-container {
		display: flex;
	}
}

/* 	Hero
   	================================================== */

.hero {
	padding-top: 5em;
	padding-bottom: 5em;
	margin-top: 2.5em;
	background-color: var(--clr-neutral-400);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.home .hero {
	background-position: top right;
	background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
}

.about .hero {
	background-position: center;
	background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
}

.plan .hero {
	background-position: center;
	background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
}

@media only screen and (min-width: 45em) {
	.hero {
		text-align: left;
	}

	.hero :is(h1, p) {
		max-width: 60%;
	}

	.home .hero {
		background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
	}

	.home .about {
		background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
	}

	.plan .hero {
		background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
	}
}

@media only screen and (min-width: 65em) {
	.home .hero {
		background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
	}

	.about .hero {
		background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
	}

	.plan .hero {
		background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
	}
}

/* 	Footer
		================================================== */
footer .nav {
	align-items: center;
	justify-content: space-between;
	color: var(--clr-neutral-300);
	gap: calc(var(--spacer) * 2);
}

footer .nav a:hover {
	color: var(--clr-neutral-000);
}

footer .icons {
	flex-direction: row;
}

/* FIX hover color not working */
footer .icons img:hover {
	filter: invert(84%) sepia(15%) saturate(798%) hue-rotate(327deg) brightness(103%) contrast(103%);
}

.filter-white {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(132deg) brightness(100%) contrast(100%);
}

@media only screen and (min-width: 45em) {
	footer .nav ul {
		flex-direction: row;
	}
}

/* 	Home Page Sections
   	================================================== */

/* 	Choose us
    ------------------- */

/* FIX Overflow content */
.choose-us li {
	padding-top: calc(var(--spacer) * 2);
	padding-bottom: calc(var(--spacer) * 2);
}

@media only screen and (min-width: 45em) {
	.choose-us > p {
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: calc(var(--spacer) * 2);
	}
}

/* 	How it works
    ------------------- */

.how-works ol {
	gap: 3rem;
}

.how-works h2 + ol {
	margin-top: 3rem;
}

.how-works .number {
	font-family: "fraunces", serif;
	font-size: var(--fs-800);
	font-weight: 900;
	color: var(--clr-secondary-200);
}

@media only screen and (min-width: 45em) {
	.how-works {
		text-align: left;
	}

	.how-works ol {
		flex-direction: row;
	}
}

/* 	About Page Sections
   	================================================== */

/* 	Commitment
    ------------------- */

.our-commitment {
	gap: 0 calc(var(--spacer) * 5);
}

/* 	Quality
    ------------------- */

.quality {
	display: block;
}

@media only screen and (min-width: 65em) {
	.quality {
		display: grid;
		grid-template-areas:
			"title image"
			"text image";
		grid-template-rows: auto 1fr;
		grid-template-columns: 2fr 1fr;
		gap: 0 calc(var(--spacer) * 5);
	}
}

/* 	Headquarters
    ------------------- */

.headquarters {
	display: block;
}

.headquarters ul > li {
	flex-basis: 100%;
}

@media only screen and (min-width: 45em) {
	.headquarters li > img[src$=".svg"] {
		margin-left: 0;
	}

	.headquarters ul {
		flex-direction: row;
	}
}
