/* =============================
   Global styles
   ============================= */

:root {
	/* Colors  */
	--paleBlue: hsl(243, 100%, 93%);
	--grayishBlue: hsl(229, 7%, 55%);
	--darkBlue: hsl(228, 56%, 26%);
	--veryDarkBlue: hsl(229, 57%, 11%);
	--gradientStart: hsl(6, 100%, 80%);
	--gradientEnd: hsl(335, 100%, 65%);

	/* Typography */
	color: #fff;
	font-family: "Raleway", sans-serif;
}

/* Layout
============================= */

* {
	font-size: clamp(1rem, 0.75rem + 0.5vw, 3rem);
}

body {
	display: grid;
	grid-template-columns: minmax(5%, 1fr) minmax(320px, 1000px) minmax(5%, 1fr);
	height: 100vh;
	background-image: url("images/bg-mobile.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	place-items: center;
}

article {
	display: flex;
	grid-column: 2;
	flex-direction: column;
}

.icons {
	display: flex;
}

/* Typography
============================= */

/* =============================
   Mobile view
   ============================= */
