:root {
	/* Neutral */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(0, 0%, 55%);
	--clr-neutral-300: hsl(0, 0%, 41%);
	--clr-neutral-400: hsl(0, 0%, 0%);

	/* Spacing */
	--spacer: 1rem;

	/* Utopia */
	--step--1: clamp(0.7813rem, 0.7592rem + 0.0939vw, 0.8438rem);
	--step-0: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
	--step-1: clamp(1.125rem, 0.9932rem + 0.5624vw, 1.4994rem);
	--step-2: clamp(1.35rem, 1.1216rem + 0.9746vw, 1.9988rem);
	--step-3: clamp(1.62rem, 1.2523rem + 1.569vw, 2.6644rem);
	--step-4: clamp(1.9438rem, 1.3775rem + 2.416vw, 3.5519rem);
	--step-5: clamp(2.3325rem, 1.4865rem + 3.6094vw, 4.735rem);

	/* font-family */
	--ff-body: "Alata", sans-serif;
	--ff-headings: "Josefin Sans", sans-serif;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	text-align: center;
	font-weight: 300;
	line-height: 1.8;
}

a {
	color: var(--clr-neutral-100);
	text-decoration: none;
}

:focus-visible {
	outline: 3px dotted currentColor;
	outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

@media only screen and (min-width: 40em) {
	body {
		text-align: left;
	}
}

/* 	Typography
   	================================================== */

h1,
h2,
h3 {
	font-family: var(--ff-headings);
	text-transform: uppercase;
	font-weight: 400;
}

h1 {
	font-size: var(--step-5);
	color: var(--clr-neutral-100);
	text-align: left;
	margin-top: 10rem;
	border: 2px solid var(--clr-neutral-100);
	padding: 1.75rem 1.5rem 1rem;
}

@media only screen and (min-width: 40em) {
	h1 {
		max-width: 15ch;
	}
}

h2 {
	font-size: var(--step-4);
	max-width: 15ch;
}

h3 {
	font-size: var(--step-3);
}

/* ==================================================
   Utilities
	================================================== */

/*  Spacing
    ------------------- */

.center-content {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1440px) minmax(0, 1fr);
	grid-template-rows: repeat(3, min-content);
}

.center-content > * {
	grid-column: 2;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 6);
}

.flow-content > * + * {
	margin-top: 2em;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: var(--spacer);
}

@media only screen and (min-width: 40em) {
	.flex {
		flex-direction: row;
	}
}

.container {
	padding-right: clamp(2rem, 2.5%, 3rem);
	padding-left: clamp(2rem, 2.5%, 3rem);
}

@media only screen and (min-width: 40em) {
	.container {
		padding-right: clamp(5rem, 5%, 10rem);
		padding-left: clamp(5rem, 5%, 10rem);
	}
}

/* ==================================================
   Blocks
   ================================================== */

.site-head {
	padding-top: 3rem;
	padding-bottom: 14rem;
	color: var(--clr-neutral-100);

	/* prettier-ignore */
	background:
		linear-gradient(hsla(200, 16%, 18%, 0.6), hsla(200, 16%, 18%, 0.2)),
		center/cover url("../images/desktop/image-hero.jpg") hsla(295, 51%, 18%, 1);
}

/* 	Navigation
   	================================================== */

.site-head__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--spacer);
}

.site-head__brand {
	width: 12rem;
}

.navigation ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: calc(var(--spacer) * 2);
}

.burger-menu__trigger {
	display: none;
}

.burger-menu__trigger:focus-visible {
	outline: 3px dotted var(--clr-neutral-100);
	outline-offset: 0.25rem;
}

.burger-menu__trigger:focus:not(:focus-visible) {
	outline: transparent;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
	display: block;
	width: 24px;
	height: 3px;
	background: var(--clr-neutral-100);
	border: 1px solid var(--clr-neutral-100);
	position: absolute;
	border-radius: 3px;
	left: 50%;
	margin-left: -12px;
	transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
	top: 50%;
	transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
	content: "";
}

.burger-menu__bar::before {
	top: -8px;
}

.burger-menu__bar::after {
	bottom: -8px;
}

.burger-menu[enabled="true"] .burger-menu__trigger {
	display: block;
	width: 2rem;
	height: 2rem; /* Nice big tap target */
	position: relative;
	z-index: 100;
	background: transparent;
	border: none;
	cursor: pointer;
}

.burger-menu[enabled="true"] .burger-menu__panel {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 3rem;
	padding-left: clamp(2rem, 2.5%, 3rem);
	padding-right: clamp(2rem, 2.5%, 3rem);
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	background: var(--clr-neutral-400);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
}

.burger-menu[enabled="true"] .navigation ul {
	display: block;
	margin-top: 7rem;
	text-align: left;
}

.burger-menu[enabled="true"] .navigation ul > * + * {
	margin-top: 0.5rem;
}

.burger-menu[enabled="true"] .navigation li {
	width: max-content;
	font-size: var(--step-3);
	font-weight: 300;
	font-family: var(--ff-headings);
	text-transform: uppercase;
}

.burger-menu[enabled="true"] .navigation li a {
	display: block;
	line-height: 1.2;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 200ms ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
	opacity: 0;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
	transform: translateY(0);
	opacity: 1;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
	background: transparent;
	border-color: transparent;
	transform: rotate(180deg);
}

/* 	Interactive
   	================================================== */

@media only screen and (min-width: 55em) {
	.interactive {
		display: grid;
		grid-template-columns: 50% 12.5% 37.5%;
		grid-template-rows: auto;
	}

	.interactive picture {
		grid-row: 1;
		grid-column: 1 / 3;
		width: 100%;
		height: 100%;
		display: flex;
	}

	.interactive picture img {
		object-fit: cover;
	}

	.interactive div {
		background-color: var(--clr-neutral-100);
		grid-row: 1;
		grid-column: 2 / -1;
		align-self: end;
		height: min-content;
		padding-top: clamp(2rem, 15%, 6rem);
		padding-left: clamp(2rem, 15%, 6rem);
	}
}

/* 	Creations
   	================================================== */

.creations .wrapper {
	justify-content: space-between;
}

.cta {
	letter-spacing: 2px;
	background-color: var(--clr-neutral-400);
	display: none;
	border: 1px solid var(--clr-neutral-400);
	text-transform: uppercase;
	padding: 0.5em 2em;
	transition: background-color 200ms;
}

.cta.bottom {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2rem;
	width: max-content;
}

@media only screen and (min-width: 43.75em) {
	.cta.top {
		display: inline-block;
	}

	.cta.bottom {
		display: none;
	}
}

.cta:hover {
	color: var(--clr-neutral-400);
	background-color: var(--clr-neutral-100);
}

.cta:focus-visible {
	color: var(--clr-neutral-400);
	background-color: var(--clr-neutral-100);
	outline: 3px dotted var(--clr-neutral-400);
	outline-offset: 0.25rem;
}

.cta:focus:not(:focus-visible) {
	outline: transparent;
}

/* Gallery
   ------------------- */

.gallery {
	display: grid;
	grid-template-columns: auto;
	gap: calc(var(--spacer) * 1.5);
}

.gallery figure {
	position: relative;
}

.gallery picture {
	background-color: var(--clr-neutral-400);
	transition: background-color 200ms;
}

.gallery picture img {
	/* z-index: -1; */
	object-fit: cover;
	max-height: 30em;
	opacity: 0.7;
	width: 100%;
}

.gallery figcaption {
	max-width: 9ch;
	line-height: 1;
	position: absolute;
	bottom: calc(var(--spacer) * 1);
	left: calc(var(--spacer) * 1);
	font-size: var(--step-2);
	font-weight: 300;
	font-family: var(--ff-headings);
	text-transform: uppercase;
	text-align: left;
}

.gallery a:focus picture,
.gallery figure:hover picture {
	background-color: var(--clr-neutral-100);
}

.gallery a:focus picture,
.gallery picture:hover img {
	opacity: 0.3;
}

.gallery a:focus figcaption,
.gallery figure:hover figcaption {
	color: var(--clr-neutral-400);
}

@media only screen and (min-width: 43.75em) {
	.gallery {
		grid-template-columns: repeat(2, auto);
		grid-auto-rows: minmax(auto);
	}
}

@media only screen and (min-width: 55em) {
	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* 	Footer
   	================================================== */

footer {
	display: grid;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	background-color: var(--clr-neutral-400);
	gap: var(--spacer);
	align-content: center;
}

footer .site-head__brand {
	margin: 0 auto;
	margin-bottom: 1rem;
}

.icon-list {
	margin-top: 2rem;
	display: flex;
	gap: var(--spacer);
	justify-content: center;
}

.small {
	color: var(--clr-neutral-200);
}

@media only screen and (min-width: 40em) {
	footer {
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	footer .site-head__brand {
		margin-right: auto;
		margin-bottom: 0;
		margin-left: 0;
	}

	.icon-list {
		margin-top: 0;
		justify-content: flex-end;
	}

	.small {
		line-height: 1;
		text-align: right;
	}
}

.icon-list li {
	position: relative;
}

.icon-list li:hover::after {
	content: "";
	position: absolute;
	background-color: var(--clr-neutral-100);
	width: 25px;
	height: 2px;
	bottom: -4px;
	right: 50%;
	transform: translateX(50%);
}

/* ==================================================
	Exceptions
	================================================== */

/* Reach out of burger menu component for logo */
#logo {
	display: none;
}

/* Enable navigation underline, not on expanded burger menu */
nav[aria-label] li {
	position: relative;
}

.burger-menu[enabled="false"] li:hover::after,
nav[aria-label="secondary"] li:hover::after {
	content: "";
	position: absolute;
	background-color: var(--clr-neutral-100);
	width: 25px;
	height: 2px;
	bottom: -8px;
	right: 50%;
	transform: translateX(50%);
}
