/* =============================
   Global styles
   ============================= */

:root {
	--desaturatedRed: hsl(0, 36%, 70%);
	--softRed: hsl(0, 93%, 68%);
	--grayishRed: hsl(0, 6%, 24%);
	--gradientLight: linear, 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
	--gradientDark: linear, 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
}

body {
	height: 100vh;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	color: var(--desaturatedRed);
	line-height: 1.8;
	text-align: center;
}

/* =============================
   Mobile
   ============================= */

/* Typography
   ============================= */

h1 {
	margin-bottom: 0.25em;
	font-size: clamp(2rem, 4.5rem + 0.5vw, 6rem);
	font-weight: 300;
	letter-spacing: 7.5px;
	line-height: 1.2;
	text-transform: uppercase;
}

h1 span {
	color: black;
	font-weight: 400;
}

p {
	margin-bottom: 2em;
	font-size: clamp(0.75rem, 1rem + 0.5vw, 2rem);
}

/* Layout
   ============================= */

main {
	align-self: start;
	margin: 5em 7.5% 10%;
}

.logo {
	width: 30%;
	min-width: 10em;
	margin: 2em 0 2em 7.5%;
}

/* Form layout and styles
   ============================= */

form {
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;
}

input {
	position: relative;
	width: 100%;
	padding: 0.75em 1em;
	border: 1px solid var(--desaturatedRed);
	border-radius: 2em;
	background-color: transparent;
	color: var(--desaturatedRed);
	font-size: clamp(0.75rem, 1rem + 0.25vw, 2rem);
	font-weight: 300;
	text-indent: 1em;
}

input::placeholder {
	color: var(--desaturatedRed);
	font-size: clamp(0.75rem, 1rem + 0.5vw, 2rem);
	font-weight: 300;
}

.form-wrapper {
	position: relative;
}

button {
	position: absolute;
	left: calc(100% - (2.5em * 2) - 12px);
	height: 100%;
	padding: 0.5em 2.5em;
	border: none;
	border-radius: 5em;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	cursor: pointer;
}

button:hover {
	box-shadow: 0 5px 10px 0 hsla(0, 6%, 24%, 0.25);
}

button:focus,
input:focus {
	outline: 2px solid var(--grayishRed);
}

/* Javascript controlled styles
   ============================= */

.error {
	display: none;
	position: absolute;
	top: 1.1em;
	left: calc(100% - (8em));
	width: 1.75em;
}

.status {
	margin-top: 0.5em;
	margin-left: 2.1em;
	font-size: clamp(0.75rem, 0.75rem + 0.5vw, 2rem);
}

/* =============================
   Desktop styles
   ============================= */

@media only screen and (min-width: 950px) {
	/* Layout
	   ============================= */

	body {
		display: grid;
		grid-template-columns: 1fr 45vw;
		grid-template-rows: 10% 1fr;
		text-align: left;
	}

	.logo {
		max-width: 15em;
		margin-left: 15%;
	}

	main {
		width: 35vw;
		margin-top: 2.5em;
		margin-left: 15%;
	}

	.hero {
		grid-area: 1 / 2/ -2 / -1;
		width: 100%;
	}

	form {
		margin: 0;
	}
}
