$medium: 40rem;
$large: 90rem;

:root {
	/* Colors */
	--clr-primary-100: hsla(157, 74%, 62%, 1);
	--clr-primary-200: hsla(157, 100%, 85%, 1);
	--clr-error-100: hsla(0, 100%, 50%, 1);
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-200: hsla(225, 40%, 83%, 1);
	--clr-neutral-300: hsla(225, 21%, 45%, 1);
	--clr-neutral-400: hsla(225, 26%, 23%, 1);
	--clr-neutral-500: hsla(224, 35%, 11%, 1);

	/* Spacing */
	--spacer: 1em;

	/* Utopia.fyi */
	--step--1: clamp(0.8rem, 0.65rem + 0.66vw, 1.24rem);
	--step-0: clamp(1rem, 0.65rem + 1.5vw, 2rem);
	--step-1: clamp(1.25rem, 0.55rem + 2.98vw, 3.24rem);

	/* font-family */
	--ff-body: "Chivo", sans-serif;
}
