$medium: 40rem;
$large: 90rem;

:root {
	/* Colors */
	// Accents
	--clr-accent-100: hsla(176, 68%, 64%, 1);
	--clr-accent-200: hsla(198, 60%, 50%, 1);
	--clr-accent-400: hsla(0, 100%, 63%, 1);
	// Neutrals
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-200: hsla(219, 30%, 18%, 1);
	--clr-neutral-300: hsla(217, 28%, 15%, 1);
	--clr-neutral-400: hsla(218, 28%, 13%, 1);
	--clr-neutral-500: hsla(216, 53%, 9%, 1);

	/* Spacing */
	--spacer: 1rem;

	/* Utopia.fyi */
	--step--1: clamp(0.66rem, 0.64rem + 0.13vw, 0.75rem);
	--step-0: clamp(0.94rem, 0.9rem + 0.18vw, 1.06rem);
	--step-1: clamp(1.33rem, 1.28rem + 0.25vw, 1.5rem);
	// --step-2: clamp(1.87rem, 1.8rem + 0.36vw, 2.12rem);
	--step-2: clamp(2.65rem, 2.55rem + 0.5vw, 3rem);

	/* font-families */
	--ff-body: "Open sans", sans-serif;
	--ff-headings: "Raleway", sans-serif;
}
