:root {
	/* Colors */
	// Accents
	--clr-accent-100: hsla(176, 68%, 64%, 1);
	--clr-accent-200: hsla(198, 60%, 50%, 1);
	--clr-accent-400: hsla(0, 100%, 63%, 1);
	// Neutrals
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-200: hsla(219, 30%, 18%, 1);
	--clr-neutral-300: hsla(217, 28%, 15%, 1);
	--clr-neutral-400: hsla(218, 28%, 13%, 1);
	--clr-neutral-500: hsla(216, 53%, 9%, 1);

	/* Spacing */
	--spacer: 1rem;

	/* Font sizes */
	--step--2: clamp(0.61rem, 0.55rem + 0.28vw, 0.8rem);
	--step--1: clamp(0.73rem, 0.65rem + 0.39vw, 1rem);
	--step-0: clamp(0.88rem, 0.77rem + 0.54vw, 1.25rem);
	--step-1: clamp(1.05rem, 0.9rem + 0.73vw, 1.56rem);
	--step-2: clamp(1.26rem, 1.06rem + 0.99vw, 1.95rem);
	--step-3: clamp(1.51rem, 1.25rem + 1.33vw, 2.44rem);
	--step-4: clamp(1.81rem, 1.46rem + 1.77vw, 3.05rem);
	--step-5: clamp(2.18rem, 1.71rem + 2.34vw, 3.82rem);

	/* Font-families */
	--ff-body: "Open sans", sans-serif;
	--ff-headings: "Raleway", sans-serif;
}
