:root {
	/* Neutral */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(0, 0%, 55%);
	--clr-neutral-300: hsl(0, 0%, 41%);
	--clr-neutral-400: hsl(0, 0%, 0%);

	/* Spacing */
	--spacer: 1rem;

	/* Font size */
	--fs-300: 0.9rem;
	--fs-400: 1rem;
	--fs-500: 2rem;
	--fs-600: 3rem;
	--fs-700: 4.5rem;

	/* Utopia */
	--step--1: clamp(0.7813rem, 0.7592rem + 0.0939vw, 0.8438rem);
	--step-0: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
	--step-1: clamp(1.125rem, 0.9932rem + 0.5624vw, 1.4994rem);
	--step-2: clamp(1.35rem, 1.1216rem + 0.9746vw, 1.9988rem);
	--step-3: clamp(1.62rem, 1.2523rem + 1.569vw, 2.6644rem);
	--step-4: clamp(1.9438rem, 1.3775rem + 2.416vw, 3.5519rem);
	--step-5: clamp(2.3325rem, 1.4865rem + 3.6094vw, 4.735rem);

	/* font-family */
	--ff-body: "Alata", sans-serif;
	--ff-headings: "Josefin Sans", sans-serif;
}

/* 	==================================================
	Global Styles
	================================================== */

body {
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	text-align: center;
	font-weight: 300;
	line-height: 1.8;
}

:focus-visible {
	outline: 3px dotted currentColor;
	outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
	outline: transparent;
}

/* 	Typography
   	================================================== */

h1,
h2,
h3 {
	font-family: var(--ff-headings);
	text-transform: uppercase;
	font-weight: 400;
}

h1 {
	font-size: var(--step-5);
	color: var(--clr-neutral-100);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

/* ==================================================
   Utilities
	================================================== */

/*  Spacing
    ------------------- */

.center-content {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1440px) minmax(0, 1fr);
	grid-template-rows: repeat(3, min-content);
}

.center-content > * {
	grid-column: 2;
}

.flow-section > * + * {
	margin-top: calc(var(--spacer) * 3);
}

.flow-content > * + * {
	margin-top: var(--spacer);
}

.flex {
	display: flex;
	flex-direction: column;
	gap: var(--spacer);
}

@media only screen and (min-width: 40em) {
	.flex {
		flex-direction: row;
	}
}

.container {
	padding-right: clamp(1rem, 2.5%, 3rem);
	padding-left: clamp(1rem, 2.5%, 3rem);
}

@media only screen and (min-width: 40em) {
	.container {
		padding-right: clamp(5rem, 5%, 10rem);
		padding-left: clamp(5rem, 5%, 10rem);
	}
}

/* ==================================================
   Blocks
   ================================================== */

/* Holding styles */

header {
	background-color: hsla(295, 51%, 18%, 1);
}

footer {
	background-color: var(--clr-neutral-400);
}

ul {
	margin-top: 0;
	margin-bottom: 0;
}

nav a,
small {
	color: var(--clr-neutral-100);
	display: block;
}
