:root {
	/* colors */
	--clr-primary-100: hsl(223, 87%, 63%);
	--clr-primary-100-shadow: hsla(223, 87%, 63%, 0.3);
	--clr-secondary-100: hsl(223, 100%, 88%);
	--clr-neutral-100: hsl(0, 0%, 59%);
	--clr-neutral-200: hsl(209, 33%, 12%);
	--clr-error-100: hsl(354, 100%, 66%);

	/* spacing */
	--spacer: 1.5em;

	/* font weight */
	--fw-300: 300;
	--fw-600: 600;
	--fw-700: 700;

	/* font size */
	--fs-300: 0.8rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 2rem;
	--fs-700: 3rem;
}

/* 	==================================================
		Global Styles
		================================================== */
body {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1440px) minmax(1rem, 1fr);
	font-family: "Libre Franklin", sans-serif;
	font-weight: var(--fw-300);
	text-align: center;
	color: var(--clr-neutral-100);
}

body > * {
	grid-column: 2;
}

h1 {
	font-size: var(--fs-600);
	font-weight: var(--fw-300);
}

h1 span {
	font-weight: var(--fw-700);
	color: var(--clr-neutral-200);
}

@media only screen and (min-width: 60em) {
	h1 {
		font-size: var(--fs-700);
	}
}

/* ==========================================================
		Utilities
		========================================================== */

.flow-content > * + * {
	margin-top: var(--spacer, 1em);
}

.flex {
	display: flex;
}

@media only screen and (min-width: 60em) {
	.container {
		max-width: 60%;
		margin-right: auto;
		margin-left: auto;
	}
}

/* 	==================================================
		Blocks
		================================================== */

/* 	Header
   	================================================== */

header img {
	margin-top: 6em;
	margin-right: auto;
	margin-bottom: 3em;
	margin-left: auto;
}

header p {
	color: var(--clr-neutral-200);
}

/* 	Form
   	================================================== */

form {
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2em;
}

form input,
form button {
	width: 100%;
	padding: 1em 2.5em;
	border: 1px solid var(--clr-primary-100);
	border-radius: 2em;
	margin-top: 0.75em;
	background-color: var(--bg, white);
	color: var(--fg, var(--clr-primary-100));
}

form input::placeholder {
	color: inherit;
}

form button {
	--bg: var(--clr-primary-100);
	--fg: white;

	box-shadow: 0 1em 1em var(--clr-primary-100-shadow);
	margin-bottom: 1.25em;
	font-weight: 600;
}

@media only screen and (min-width: 60em) {
	form {
		flex-direction: row;
		margin-right: auto;
		margin-left: auto;
	}

	form > .flex-wrapper {
		flex-basis: 60%;
	}

	form > button {
		flex-basis: 30%;
	}
}

/* 	Error styles  */

form input.error {
	border: 1px solid var(--clr-error-100);
	color: var(--clr-error-100);
}

div.error {
	height: var(--fs-300);
	margin-top: 0.5em;
	margin-left: 3em;
	font-size: var(--fs-300);
	text-align: left;
	color: var(--clr-error-100);
}

/* 	Main image
   	================================================== */

.main-image {
	margin-top: 7em;
	margin-right: auto;
	margin-left: auto;
}

/* 	Footer
   	================================================== */

footer {
	margin-top: 8em;
}

footer .icons {
	justify-content: center;
	gap: var(--spacer);
}

footer ion-icon {
	padding: 0.25em;
	border: 1px solid hsla(223, 100%, 88%, 0.5);
	border-radius: 50%;
	font-size: 1.5em;
	color: var(--clr-primary-100);
}

footer ion-icon:hover {
	background-color: var(--clr-primary-100);
	color: white;
}

footer small {
	display: block;
	margin-bottom: 4rem;
}
