/* ==================================================
Global styles
================================================== */
:root {
	/* colors */
	--clr-primary-300: hsl(333, 80%, 67%);
	--clr-primary-600: hsl(300, 43%, 22%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(300, 24%, 96%);
	--clr-neutral-400: hsl(303, 10%, 53%);

	/* spacing */
	--spacer: 1em;

	/* font weight */
	--fw-400: 400;
	--fw-500: 500;
	--fw-800: 700;

	/* font size */
	--fs-400: 0.8125rem;
	--fs-400: 0.9375rem;
	--fs-600: 2rem;

	/* font family */
	--ff-body: "Spartan", sans-serif;

	/* break points  */
	--bp-md: 65em;
}

@media only screen and (min-width: 65em) {
	:root {
		--fs-600: 3rem;
	}
}

/* Typography
	 ================================================== */

/* prettier-ignore */
body {
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	font-weight: var(--fw-400);
	color: var(--clr-primary-600);
	text-align: center;
	background:
		url(images/bg-pattern-top-mobile.svg) left top no-repeat,
		url(images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
}

@media only screen and (min-width: 65em) {
	/* prettier-ignore */
	body {
		color: var(--clr-primary-600);
		text-align: left;
		background:
			url(images/bg-pattern-top-desktop.svg) left top no-repeat,
			url(images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
	}
}

h1 {
	font-family: var(--ff-body);
	font-size: var(--fs-600);
}

/* ==================================================
	 Composition
================================================== */
.grid-main {
	display: grid;
	gap: calc(var(--spacer) * 5);
}

.reviews {
	grid-column: 1 / -1;
}

@media only screen and (min-width: 50em) {
	.grid-main {
		grid-template-rows: auto auto;
		grid-template-columns: 40% 1fr;
	}
}

/* ==================================
========================
Utilities
==================================
======================== */
.container {
	padding-right: 1em;
	padding-left: 1em;
	margin-top: 6em;
	margin-bottom: 3em;
}

@media only screen and (min-width: 50em) {
	.container {
		width: min(80%, 1200px);
		padding: 2rem;
		margin-top: 8em;
		margin-right: auto;
		margin-left: auto;
	}
}

.flow-section > * + * {
	margin-top: calc(var(--spacer, 1em) * 3);
}

.flow-content > * + * {
	margin-top: var(--spacer, 1em);
}

.split {
	display: flex;
	flex-direction: column;
	gap: var(--spacer);
}

@media only screen and (min-width: 65em) {
	.split {
		flex-direction: row;
		gap: calc(var(--spacer, 2em) * 3);
	}
}

/* ==================================================
	 Blocks
	 ================================================== */

/* Ratings
	 ================================================== */

.ratings {
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.ratings .rating {
	align-items: center;
	padding: 1.25em 2.5em;
	font-weight: var(--fw-800);
	line-height: 1;
	background-color: var(--clr-neutral-200);
	border-radius: 0.5em;
	gap: calc(var(--spacer) * 2);
}

.ratings .stars {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}

/* Add staggered effect
	 -------------------------- */
@media only screen and (min-width: 70em) {
	.ratings .rating:nth-of-type(1) {
		margin-right: 4em;
	}

	.ratings .rating:nth-of-type(2) {
		margin-right: 2em;
		margin-left: 2em;
	}

	.ratings .rating:nth-of-type(3) {
		margin-left: 4em;
	}
}

/* Reviews
	 ================================================== */

.reviews .grid-card {
	gap: calc(var(--spacer) * 1);
	display: grid;
	padding: 2em;
	color: var(--clr-neutral-100);
	text-align: left;
	background-color: var(--clr-primary-600);
	border-radius: 1em;
	grid-template-rows: auto auto;
	grid-template-columns: auto 1fr;
}

.reviews img {
	width: 4em;
	border-radius: 5em;
}

.reviews .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.reviews .name {
	margin-bottom: 0.25em;
	font-weight: var(--fw-800);
}

.reviews .role {
	color: var(--clr-primary-300);
}

.reviews .quote {
	grid-column: 1 / -1;
}

/* Add staggered effect
	 -------------------------- */
@media only screen and (min-width: 65em) {
	.review:nth-of-type(1) {
		margin-bottom: 4em;
	}

	.review:nth-of-type(2) {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.review:nth-of-type(3) {
		margin-top: 4em;
	}
}
