/* ==================================================
	 Andy Bell Modern CSS Reset
	 ================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Adjust line heights */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  padding-left: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/* ==================================================
	Global Styles
	================================================== */
/* 	Custom Properties
   	================================================== */
:root {
  /* Colors */
  --clr-primary-100: hsla(356, 100%, 66%, 1);
  --clr-primary-200: hsla(355, 100%, 74%, 1);
  --clr-primary-300: hsla(208, 49%, 24%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(240, 2%, 79%, 1);
  --clr-neutral-300: hsla(207, 13%, 34%, 1);
  --clr-neutral-400: hsla(240, 10%, 16%, 1);
  --clr-gradient-intro: linear-gradient(to right, hsla(13, 100%, 72%, 1), hsla(353, 100%, 62%, 1));
  --clr-gradient-body: linear-gradient(to right, hsla(237, 23%, 32%, 1), hsla(237, 23%, 32% 1));
  /* Spacing */
  --spacer: 1rem;
  /* Font sizes */
  --step--1: clamp(0.75rem, 0.6rem + 0.73vw, 1.13rem);
  --step-0: clamp(1rem, 0.8rem + 0.98vw, 1.25rem);
  --step-1: clamp(1.33rem, 1.07rem + 1.3vw, 2rem);
  --step-2: clamp(1.78rem, 1.43rem + 1.73vw, 2.67rem);
  --step-3: clamp(2.37rem, 1.91rem + 2.31vw, 3.55rem);
  /* Font-families */
  --ff-body: "Overpass", sans-serif;
  --ff-headings: "Ubuntu", sans-serif;
}

/* Base Styles
   ================================================== */
body {
  font-family: var(--ff-body);
  font-size: var(--step-0);
  line-height: 1.8;
  color: var(--clr-neutral-300);
  text-align: center;
  font-weight: 400;
}
@media (min-width: 50em) {
  body {
    text-align: left;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-neutral-400);
}

h3 {
  font-size: var(--step-1);
}

h2 {
  font-size: var(--step-2);
}

h1 {
  font-size: var(--step-3);
  color: var(--clr-neutral-100);
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ==================================================
	Utilities
	================================================== */
/* Skip to main content */
.skip-link {
  position: absolute;
  display: inline-block;
  top: 1rem;
  left: 1rem;
  z-index: 100000;
  padding: 0.7rem 1rem 0.5rem 1rem;
  outline: 3px dotted white;
  background-color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.skip-link:hover {
  background: black;
  color: white;
}

.skip-link:not(:focus) {
  position: absolute;
  width: 1px;
  height: auto;
  padding: 0;
  border: 0;
  overflow: hidden;
  margin: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

/* Remove necessary focus style as main is the :target */
main:focus {
  outline: none;
}

/* Center main content on page */
.center-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1440px) minmax(0, 1fr);
}
.center-content > * {
  grid-column: 2;
}

/* Add left and right padding to element */
.container {
  padding-right: clamp(1rem, 5%, 4rem);
  padding-left: clamp(1rem, 5%, 4rem);
}

/* Add vertical rhythm between sections */
.flow-section > * + * {
  margin-top: 3rem;
}
@media (min-width: 50em) {
  .flow-section > * + * {
    margin-top: 2rem;
  }
}

/* Add vertical rhythm inside elements */
.flow-content > * + * {
  margin-top: 1em;
}

/* Text accessible only for screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.visually-hidden:hover,
.visually-hidden:active,
.visually-hidden:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  /* Above WP toolbar */
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  background-color: #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: currentColor;
  clip: auto !important;
}

/* Add styled focus states on tab not hover */
:focus-visible {
  outline: 3px dotted currentColor;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline: transparent;
}

/* Align flex children at small and large viewports */
.split {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
@media (min-width: 50em) {
  .split {
    flex-direction: row;
  }
}

/* ==================================================
   Blocks
   ================================================== */
/* 	CTA
   	================================================== */
.dark {
  --fg: var(--clr-neutral-100);
  --bg: transparent;
  --bg-h: var(--clr-neutral-100);
  --fg-h: var(--clr-primary-100);
  border: 1px solid var(--clr-neutral-100);
}

.cta {
  display: block;
  min-width: 8rem;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  background-color: var(--bg, var(--clr-neutral-100));
  transition: all 200ms;
  color: var(--fg, var(--clr-primary-100));
}
.cta:hover {
  background-color: var(--bg-h, var(--clr-primary-200));
  text-decoration: none;
  color: var(--fg-h, var(--clr-neutral-100));
}
.cta:focus-visible {
  outline: 3px dotted var(--clr-neutral-100);
  outline-offset: 0.25rem;
}
.cta :focus:not(:focus-visible) {
  outline: transparent;
}

/* 	Navigation
   	================================================== */
.outer-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.outer-navigation > burger-menu {
  flex-grow: 1;
}

.logo {
  position: relative;
  z-index: 10;
}

.navigation > ul {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 1rem;
}
.navigation > ul .login {
  display: block;
  margin-left: 0rem;
}
@media (min-width: 50em) {
  .navigation > ul .login {
    margin-left: auto;
  }
}

.burger-menu[enabled=true] .navigation .login {
  margin-left: 0;
}

/* Burger menu
	 ================================================== */
/* Hamburger button creation */
.burger-menu__trigger {
  display: none;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
  position: absolute;
  display: block;
  left: 50%;
  width: 24px;
  height: 3px;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 3px;
  margin-left: -12px;
  background: var(--clr-neutral-100);
  transition: transform 200ms ease-in-out;
}

.burger-menu__bar {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
  content: "";
}

.burger-menu__bar::before {
  top: -8px;
}

.burger-menu__bar::after {
  bottom: -8px;
}

.burger-menu[enabled=true] .burger-menu__trigger {
  position: relative;
  display: block;
  left: calc(100% - 2rem);
  z-index: 10;
  width: 2rem;
  height: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger-menu[enabled=true] .burger-menu__panel {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.burger-menu[enabled=true] .navigation .clicky-menu {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5em;
  box-shadow: 0 20px 40px var(--clr-neutral-400);
  margin-top: 4rem;
  background-color: var(--clr-neutral-100);
  gap: 1rem;
}
@media (min-width: 50em) {
  .burger-menu[enabled=true] .navigation .clicky-menu {
    margin-top: 6rem;
  }
}

.burger-menu[enabled=true][status=open] .burger-menu__panel {
  visibility: visible;
  opacity: 1;
  transition: opacity 200ms ease;
}

.burger-menu[enabled=true][status=closed] .burger-menu__panel > * {
  opacity: 0;
}

.burger-menu[enabled=true][status=open] .burger-menu__panel > * {
  opacity: 1;
}

.burger-menu[enabled=true][status=open] .burger-menu__bar::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu[enabled=true][status=open] .burger-menu__bar::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu[enabled=true][status=open] .burger-menu__bar {
  border-color: transparent;
  background: transparent;
  transform: rotate(180deg);
}

/* 	Drop Down Menu
   	================================================== */
/* Global Sub-menu Link & Button Styles
   ------------------- */
.clicky-menu li > a,
.clicky-menu li > button {
  min-width: 8.5rem;
  border: none;
  background-color: transparent;
  color: var(--clr-neutral-100);
  cursor: pointer;
}

/* Top Level Items */
.clicky-menu > li {
  position: relative;
}

.clicky-menu li.login {
  display: grid;
  padding: 0 2rem;
  place-content: center center;
}

.clicky-menu li > a.cta {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-100);
  width: max-content;
}
.clicky-menu li > a.cta:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

/* Sub-menus
   ------------------- */
.clicky-menu ul {
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  visibility: hidden;
  min-width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  margin-top: 0.5em;
  background-color: var(--clr-neutral-100);
  gap: 0.75rem;
}
.clicky-menu ul li a {
  text-align: left;
  color: var(--clr-neutral-300);
}
.clicky-menu ul li a:hover {
  font-weight: 700;
}

.clicky-menu .login {
  display: block;
  max-width: 8rem;
}

.clicky-menu .cta {
  max-width: 8rem;
  margin-right: auto;
  margin-left: auto;
}

/* Prevent offscreen-sub-menus */
.clicky-menu .sub-menu--right {
  right: 0 !important;
  left: auto !important;
}

/* Icon */
.clicky-menu svg {
  margin-left: 0.5em;
  stroke: var(--clr-neutral-100);
}

.clicky-menu [aria-expanded=true] svg {
  transform: scaleY(-1);
}

/* Burger Menu Style Adjustments
   ------------------- */
.burger-menu[enabled=true] .clicky-menu ul {
  background-color: rgba(200, 200, 203, 0.5);
}

.burger-menu[enabled=true] .navigation .clicky-menu li {
  width: 100%;
}

.burger-menu[enabled=true] .navigation .clicky-menu li > a,
.burger-menu[enabled=true] .navigation .clicky-menu li > button {
  text-align: center;
  color: var(--clr-neutral-400);
}

.burger-menu[enabled=true] .navigation .clicky-menu li > a.cta {
  background-image: var(--clr-gradient-intro);
  color: var(--clr-neutral-100);
}
.burger-menu[enabled=true] .navigation .clicky-menu li > a.cta:focus-visible {
  outline: 3px dotted var(--clr-primary-200);
  outline-offset: 0.25rem;
}

.burger-menu[enabled=true] .clicky-menu ul[aria-hidden=false] {
  position: static;
  visibility: visible;
}

/* Responsive Sub-menu Behavior */
.clicky-menu ul[aria-hidden=false] {
  position: absolute;
  visibility: visible;
}

.burger-menu[enabled=true] .clicky-menu svg path {
  stroke: var(--clr-primary-100);
}

/* No JavaScript Fallback to Hover Sub-menus
   ------------------- */
.clicky-menu.no-js li > a,
.clicky-menu.no-js li > button {
  display: block;
}

.clicky-menu.no-js li:hover > ul,
.clicky-menu.no-js li:focus-within > ul {
  visibility: visible;
  min-width: 100%;
  margin-top: 0;
}

/* 	Header
   	================================================== */
header.center-content {
  grid-column: 1/-1;
  border-radius: 0 0 0 5rem;
  background-image: url("../images/bg-pattern-intro.svg"), var(--clr-gradient-intro);
  background-position: 30%;
  background-size: 160%;
  text-align: center;
  color: var(--clr-neutral-100);
}

.headline {
  padding-bottom: 6rem;
  margin-top: 6rem;
}
.headline .split {
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

/* 	Main and Sub-sections
   	================================================== */
/* Designed Section
   ------------------- */
.designed {
  display: grid;
  gap: 2rem;
}
@media (min-width: 50em) {
  .designed {
    grid-template-rows: 6rem auto auto 6rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem 1rem;
  }
  .designed h2 {
    grid-area: 1/1/2/-1;
    text-align: center;
  }
  .designed .picture {
    grid-area: 1/2/5/-1;
  }
  .designed .para-1 {
    grid-area: 2/1/3/2;
  }
  .designed .para-2 {
    grid-area: 3/1/4/2;
  }
}
.designed img {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 50em) {
  .designed img {
    max-width: 180%;
  }
}
@media (min-width: 65em) {
  .designed img {
    max-width: 200%;
    transform: translateX(5rem);
  }
}

/* Infrastructure Section
   ------------------- */
.infrastructure {
  color: var(--clr-neutral-100);
}
.infrastructure h2 {
  color: var(--clr-neutral-100);
}
.infrastructure .grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
.infrastructure .grid img {
  grid-area: 1/1/3/-1;
  margin-right: auto;
  margin-left: auto;
}
.infrastructure .grid .para-1 {
  grid-area: 3/1/-1/-1;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.infrastructure .grid .background {
  grid-area: 2/1/-1/2;
  align-self: stretch;
  width: 100vw;
  border-radius: 0 5rem 0 5rem;
  margin-left: calc(50% - 50vw);
  background-color: var(--clr-primary-300);
  background-image: url("../images/bg-pattern-circles.svg");
  background-position: center -15rem;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 50em) {
  .infrastructure .grid {
    grid-template-rows: 6rem auto 6rem;
    grid-template-columns: 1fr 1fr;
    background-size: 50%;
    gap: 4rem 1rem;
  }
  .infrastructure .grid img {
    grid-area: 1/1/-1/2;
    margin-top: 2rem;
  }
  .infrastructure .grid .para-1 {
    grid-area: 2/2/3/-1;
    padding-top: 4rem;
  }
  .infrastructure .grid .background {
    grid-area: 2/1/3/-1;
    background-position: -10rem -20rem;
    background-size: 50%;
  }
}

/* Free, open and simple
   ------------------- */
.free-open {
  display: grid;
  gap: 3rem;
}
@media (min-width: 50em) {
  .free-open {
    grid-template-rows: 6rem auto auto 6rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem 1rem;
  }
  .free-open .picture {
    grid-area: 1/1/5/2;
  }
  .free-open .para-1 {
    grid-area: 2/2/3/3;
  }
  .free-open .para-2 {
    grid-area: 3/2/4/3;
  }
}
.free-open img {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 50em) {
  .free-open img {
    max-width: 180%;
    transform: translateX(-15rem);
  }
}
@media (min-width: 65em) {
  .free-open img {
    max-width: 200%;
    transform: translateX(-25rem);
  }
}

/* 	Footer
   	================================================== */
footer.footer {
  grid-column: 1/-1;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 0 5rem 0 0;
  background-color: var(--clr-neutral-400);
}
footer.footer nav {
  align-items: center;
}
@media (min-width: 50em) {
  footer.footer nav {
    align-items: flex-start;
  }
}
footer.footer a {
  flex-basis: 30%;
}
footer.footer .inner-nav {
  width: 100%;
  gap: max(3rem, 25%);
}
footer.footer .inner-nav > li > a {
  font-weight: 700;
}
footer.footer .inner-nav > li > ul {
  margin-top: 1rem;
}
