/* 	Custom Properties
   	================================================== */

:root {
	/* Colors */
	--clr-primary-100: hsla(22, 89%, 52%, 1);
	--clr-primary-200: hsla(22, 100%, 69%, 1);
	--clr-secondary-100: hsla(220, 50%, 17%, 1);
	--clr-secondary-200: hsla(221, 23%, 58%, 1);
	--clr-neutral-100: hsla(198, 28%, 93%, 1);
	--clr-neutral-200: hsla(0, 0%, 100%, 1);

	/* Spacing */
	--spacer: 1rem;

	/* Font sizes */
	--step--1: clamp(0.67rem, 0.64rem + 0.12vw, 0.75rem);
	--step-0: clamp(1rem, 0.96rem + 0.19vw, 1.13rem);
	--step-1: clamp(1.5rem, 1.43rem + 0.28vw, 1.69rem);
	--step-2: clamp(2.25rem, 2.15rem + 0.42vw, 2.53rem);
	--step-3: clamp(3.38rem, 3.23rem + 0.63vw, 3.8rem);

	/* Font-families */
	--ff-body: "Barlow", sans-serif;
}
